/*---------------------------
	About Section CSS
-------------------------------*/
.about-bg-1 {
    background-image: url(../img/video-bg.jpg);
}

.about-video {
    height: 550px;
    position: relative;
    border-radius: 5px;

    .about-shape-1 {
        position: absolute;
        top: -30px;
        left: -40px;
        z-index: -1;

    }
     .about-shape-2 {
        position: absolute;
        bottom: -30px;
        right: -40px;
        z-index: -1;

    }
}

.about-features li {
    position: relative;
    padding-left: 30px;
    font-weight: 600;
    margin: 0 0 10px;
    &:last-child{
    	margin: 0;
    }

    i {
        position: absolute;
        top: 2px;
        left: 0;
        width: 20px;
        height: 20px;
        background: $clr_corn_blue;
        border-radius: 50%;
        color: $clr_white;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
    }
}

.about-text {
    p {
        margin: 20px 0 25px;
    }
}