/*---------------------------
        Blog Section CSS
----------------------------*/
.blog-item-wrap.v1 {
    // display: grid;
    // grid-gap: 25px;
}

.blog-item {
    background: $clr_white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    padding: 20px 22px;
    margin-bottom: 30px;

    .blog-content {
        h4 {
            margin: 16px 0 13px;
            line-height: 1.4;

            a {
                color: $clr_nice_blue;
                @include transition(0.4s);

                &:hover {
                    color: $clr_corn_blue;
                }
            }

        }
    }

    .blog-opt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-top: 1px solid $clr_titan;
        padding-top: 15px;

        .link {
            width: 40%;
        }


    }
}

.post-share {
    width: 55%;
    display: inline-block;
    text-align: right;

    span {
        font-family: $secondary_font;
        color: $clr_nice_blue;
        font-weight: 500;
        margin-right: 8px;
    }

    .social-profile {
        display: inline-block;
        position: relative;
        top: 2px;

        li {
            margin: 0 5px;

            a {
                i {
                    color: $clr_corn_blue;
                    @include transition(0.3s);
                }

                &:hover {
                    i {
                        color: $clr_nice_blue;
                    }
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.blog-meta {
    margin: 0 0 20px;

    ul {
        display: inline-block;
        background: $clr_titan;
        padding: 5px 20px 5px 30px;
        border-radius: 50px;
        position: relative;

        &:before {
            position: absolute;
            top: 11px;
            left: 15px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            content: "";
            background: $clr_corn_blue;
        }

        li {
            display: inline-block;
            line-height: 1;
            padding: 0 12px 0 8px;


            &:first-child {
                border-right: 1px dashed $clr_nice_blue;
            }

            &:last-child {
                padding-right: 0;
            }

            a {
                font-size: 13px;
                color: $clr_nice_blue;
                display: inline-block;

                i {
                    font-size: 16px;
                    margin-right: 5px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
}

.comment-box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0 0;
}

.comment-box {
    margin: 35px 0 20px;

    .comment-author {
        border-bottom: 1px solid $clr_titan;
        padding: 0 0 25px;
        margin: 0 0 25px;

        &.reply {
            margin-left: 60px;
        }

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

    }
}


.comment-form {
    background: $clr_alb;
    padding: 30px;

    .comment-form-title {
        font-size: 25px;
        line-height: 34px;
        color: $clr_red;
        margin: 0 0 20px;
        padding: 0 0 18px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin: 0 0 15px;

        label {
            display: block;
            margin: 0 0 8px;
        }

        input {
            width: 100%;
            height: 56px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 10px 15px;
            background: transparent;
        }

        textarea {
            width: 100%;
            height: 120px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 10px 15px;
            background: transparent;
            resize: none;
        }
    }
}

.ct_author_avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    img {
        border-radius: 50%;
    }
}

/*--------Blog Details----------*/
.content-wrapper {
    article {
        background-color: $clr_zircon;
    }
}

.post-content {
    padding: 30px 30px;
}

.post-content h3 {
    margin: 0 0 20px;
        line-height: 1.4;
    
}

.tag-list {
    ul {
        li {
            display: inline-block;
            margin: 12px 8px 0px 0px;

            a {
                display: inline-block;
                font-size: 14px;
                line-height: 18px;
                padding: 8px 18px;
                border: 1px solid $clr_corn_blue;
                border-radius: 5px;

                &:hover {
                    background-color: $clr_corn_blue;
                    color: $clr_white;
                }
            }
        }
    }

}

.wp-block-quote {
    position: relative;
    padding: 40px 35px 10px;

    p {
        font-size: 22px;
        line-height: 32px;
        font-family: $secondary_font;
        font-weight: 500;
        color: $clr_nice_blue;
        position: relative;
        margin: 0 0 25px;
    }

    i {
        position: absolute;
        top: 0;
        left: 25px;
        font-size: 85px;
        z-index: 0;
        font-weight: 700;
        color: #777AF2;
        opacity: 0.18;
    }
}

.post-feature-list {
    li {
        position: relative;
        padding-left: 25px;
        margin: 0 0 10px;

        &:last-child {
            margin: 0;
        }


        img {
            position: absolute;
            top: 2px;
            left: 0;
            margin: 0 0 10px;
        }
    }
}

.post-tag.tag-list ul {
    display: inline-block;
}

.post-meta-option.bg-zircon {
    border-top: 1px solid #ddd;
    padding: 20px 30px 30px;
}

.post-author {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;

    .post-author-img {
        width: 130px;
        height: 130px;
        border-radius: 50%;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    .post-author-info {
        width: calc(100% - 150px);
        margin-left: 20px;
    }
}

.sidebar {
    .sidebar-widget {
        background-color: $clr_zircon;
        padding: 25px 30px 30px;
        border-radius: 2px;
        margin: 0 0 25px;

        h4 {
            margin: 0 0 25px;
            padding: 0 0 20px;
            border-bottom: 1px solid #ddd;
        }

        &:last-child {
            margin: 0;
        }
    }

}

.sidebar-widget.recent-post .pp-post-item .pp-post-info h6 a {

    color: $clr_nice_blue;
}

.sidebar-widget.recent-post .pp-post-item .pp-post-info span {
    color: $clr_corn_blue;
}

.search-widget {
    .form-group {
        position: relative;

        input {
            width: 100%;
            height: 55px;
            border: none;
            background: $clr_titan;
            padding: 13px 10px 10px 50px;
        }

        span {
            position: absolute;
            top: 16px;
            left: 15px;
            font-size: 25px;
        }
    }
}