/*---------------------------------
       Breadcrumb CSS 
-----------------------------------*/
.br-bg-1 {
    background-image: url(../img/breadcrumb/breadcrumb-1.jpg);
}

.breadcrumb-wrap {
    position: relative;
    height: 100%;
    padding: 115px 0 125px;
    overflow: hidden;
    margin: 134px 0 0;

    .breadcrumb-title {
        position: relative;
        z-index: 1;
        width: 100%;
        text-align: center;

        h2 {
            font-size: 60px;
            line-height: 1.2;
            color: $clr_white;
            font-weight: 700;
            padding: 0 15px;
            margin: 0 0 15px;

            span {
                color: $clr_red;
            }
        }

        ul {
            li {
                display: inline-block;
                margin: 0 7px 0 0;
                position: relative;
                color: $clr_white;

                i {
                    margin-left: 5px;
                    font-size: 12px;

                }

                a {
                    font-size: 16px;
                    line-height: 22px;
                    color: $clr_white;
                    display: inline-block;
                    padding: 0px 5px;
                    transition: 0.3s;
                    -webkit-transition: 0.3s;
                }
            }
        }
    }
}
