/*---------------------------------
        Counter CSS 
-----------------------------------*/
.counter-box-wrap {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 35px 20px 30px;
    background: $clr_white;

    .counter-shape-one {
        position: absolute;
        top: -48px;
        left: -50px;
        z-index: -1;
    }

    .counter-shape-two {
        position: absolute;
        bottom: -48px;
        right: -50px;
        z-index: -1;
    }

    .counter-text {
        text-align: center;

        i {
            font-size: 44px;
            color: $clr_corn_blue;
            display: block;
            line-height: 1;
        }

        .counter-value {
            font-size: 34px;
            font-family: $secondary_font;
            font-weight: 700;
            line-height: 56px;
            color: $clr_corn_blue;
            line-height: 1;
            margin: 20px 0 15px;

            &.v1 {
                position: relative;
                display: inline-block;
                padding: 0 28px;

                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: "+";
                }
            }
        }

        p {
            margin: 0;
        }

    }

    &.v2 {
        z-index: 9;
        position: relative;

        .counter-text {
            position: relative;

            &:after {
                position: absolute;
                top: 23px;
                right: 0;
                content: "";
                background: transparent;
                border-right: 2px dashed $clr_corn_blue;
                width: 1px;
                height: 100px;
            }

        }

        &>.row {
            .col-md-3 {
                &:last-child {
                    .counter-text {
                        &:after {
                            display: none;
                        }
                    }
                }

            }
        }
    }
}

.counter-box-wrap.v2 .row .col-lg-3:last-child .counter-text:after {
    display: none;
}