/*---------------------------------
        Call-to-Action CSS 
-----------------------------------*/
.cta-wrap {
    position: relative;
    .container{
    	position: relative;
    	z-index: 9;
    }

    &:before {
        position: absolute;
        top: -180px;
        left: 0;
        content: "";
        background: $clr_corn_blue;
        width: 100%;
        height: calc(100% + 315px);
        z-index: 1;
    }
}


.cta-btn {
    a {
        display: inline-block;
        background: #002E5A;
        color: #fff;
        padding: 10px 25px 10px 75px;
        border-radius: 50px;
        position: relative;
        font-size: 20px;
        font-family: $secondary_font;
        font-weight: 700;
        text-align: left;

        i {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            border: 2px solid $clr_white;
            display: inline-block;
            padding: 10px;
            text-align: center;
            font-size: 20px;
            position: absolute;
            top: 15px;
            left: 19px;
            line-height: 20px;
        }

        span {
            display: block;
            font-family: $primary_font;
            font-size: 15px;
            font-weight: 400;
        }
    }

}

