/*-------------------------------
         Header CSS
-------------------------------*/

.feature-box-wrap {
    .feature-shape-one {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .feature-shape-two {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    &.v1 {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-gap: 30px;
        position: relative;

        .feature-box {
            &:hover {
                background-color: $clr_biscay;

                .feature-box-num {
                    color: #4C549C;
                }

                .feature-box-info {

                    h4,
                    p,
                    .link {
                        color: $clr_white;
                    }
                }
            }
        }

        &:before {
            position: absolute;
            top: 45%;
            left: 50%;
            content: "";
            background: transparent;
            width: 1px;
            height: 1px;
            border-radius: 50%;
            box-shadow: 0px 0px 100px 35px $clr_corn_blue;
            z-index: -1;
            @include transform(translate(-50%, -50%));
        }
    }

    &.v2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        position: relative;

        .feature-box {
            margin: 0;
            &:hover {
                background-color: $clr_corn_blue;

                .feature-box-num {
                    color: #ddd;
                }

                .feature-box-info {

                    h4,
                    p,
                    .link {
                        color: $clr_white;
                    }
                }
            }
        }
    }

    &.v3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        position: relative;

        .feature-box {
            padding: 0;
            margin: 0;

            .feature-box-icon-wrap {
                background: #F2F2FE;
                padding: 30px 10px;
                position: relative;
                overflow: hidden;
                @include transition(0.4s);

                &:before {
                    position: absolute;
                    bottom: -5px;
                    left: -20px;
                    content: "";
                    width: 70px;
                    height: 58px;
                    background: $clr_white;
                    @include transform(skew(20deg));
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
                }

                &:after {
                    position: absolute;
                    bottom: -5px;
                    right: -20px;
                    content: "";
                    width: 70px;
                    height: 58px;
                    background: $clr_white;
                    @include transform(skew(-20deg));
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
                }

                .feature-box-icon {
                    margin: 0 auto;
                    background: #fff !important;
                }
            }

            .feature-box-info {
                text-align: center;
                padding: 0 20px 30px;

                h4 {
                    margin: 25px 0 16px;
                }
            }
            &:hover{
               .feature-box-icon-wrap {
                background: $clr_corn_blue;
               } 
            }
        }

    }




    .feature-box {
        padding: 40px 20px 35px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        position: relative;
        background-color: $clr_white;
        @include transition(0.4s);
        margin: 0 0 30px;

        .feature-box-num {
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 40px;
            line-height: 66px;
            color: #D6D6D6;
            font-family: $secondary_font;
            font-weight: 900;
        }

        .feature-box-icon {
            background: #F2F2FF;
            padding: 0;
            border-radius: 5px;
            width: 70px;
            height: 70px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .feature-box-info {
            h4 {
                margin: 20px 0 16px;
            }
        }



    }
}

.feature-list-item {
    position: relative;
    margin: 0 0 20px 20px;
    border-bottom: 1px solid $clr_titan;
    &:last-child{
        margin-bottom: 0;
        border-bottom: none;
    }

    &:before {
        position: absolute;
        top: 0;
        left: -20px;
        width: 2px;
        height: 100%;
        background: $clr_corn_blue;
        content: "";
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        @include transition(0.3s);
    }

    h4 {
        color: $clr_black;
    }

    &:hover,
    &.active {
        &:before {
            visibility: visible;
            opacity: 1;
        }

        h4 {
            color: $clr_nice_blue;
        }
    }
}