/*-------------------------------
         Footer CSS
-------------------------------*/
.footer-wrap {
    position: relative;

    .footer-top {

        .footer-widget {
            color: $clr_white;

            .footer-logo {
                margin: 0 0 15px;
            }

            .comp-desc {
                margin: 0 0 15px;
            }

            .footer-widget-title {
                line-height: 1.4;
                margin: 0 0 30px;
                color: $clr_white;
            }

            .footer-menu {

                li {
                    padding-bottom: 16px;
                    display: block;

                    a {
                        position: relative;
                        color: $clr_white;
                        color: $clr_white;
                        display: inline-block;
                        text-transform: capitalize;
                        @include transition(0.4s);

                        i {
                            font-size: 14px;
                            margin-right: 5px;
                        }

                        &:hover {
                            margin-left: 5px;
                        }
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }

            .footer-contact-info {
                p {}

                .contact-item {
                    margin: 0px 0 12px;

                    &:last-child {
                        margin: 0;
                    }

                    a {
                        position: relative;
                        padding-left: 26px;
                        color: #fff;

                        i {
                            position: absolute;
                            top: 1px;
                            left: 0;
                        }
                    }
                }

            }

        }
    }

    .footer-bottom {
        padding: 25px 0;

        .copyright-text {
            p {
                color: $clr_white;
                margin: 0;

                a {
                    text-decoration: underline;
                    color: $clr_white;
                }
            }
        }

        .footer-bottom-menu {
            text-align: right;

            li {
                display: inline-block;
                margin: 0 13px;
                position: relative;

                &:before {
                    position: absolute;
                    top: 5px;
                    left: -15px;
                    content: "";
                    background: #fff;
                    width: 2px;
                    height: 15px;
                    transform: skew(-18deg);
                }

                &:first-child {
                    &:before {
                        display: none;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: $clr_white;
                }
            }
        }
    }

    &.v1 {
        .footer-top {
            background-color: $clr_nice_blue;
        }

        .footer-bottom {
            background-color: $clr_juan;
        }
    }
}

.newsletter-wrap {
    margin: 0 0 -56px;
    width: 100%;

    .newsletter-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: $clr_white;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
        padding: 30px 50px;
        position: relative;
        overflow: hidden;

        &:before {
            position: absolute;
            top: 0;
            right: -55%;
            content: "";
            background-color: #1A3150;
            width: 100%;
            height: 101%;
            transform: skew(-25deg);
        }

        .newsletter-box-left {
            width: 55%;

            h3 {
                color: $clr_nice_blue;
                margin: 0;
            }
        }

        .newsletter-box-right {
            width: 40%;

            .newsletter-form {
                position: relative;

                input {
                    width: 100%;
                    height: 54px;
                    border: 2px solid $clr_corn_blue;
                    border-radius: 5px;
                    background: transparent;
                    color: $clr_white;
                    padding: 10px 160px 10px 18px;
                    color: $clr_white;

                }

                button {
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    height: calc(100% - 8px);
                    background: $clr_corn_blue;
                    color: #fff;
                    padding: 10px 19px;
                    border: none;
                    border-radius: 4px 4px 4px 4px;
                    font-family: $secondary_font;
                    font-weight: 700;
                    margin: 1px;
                    line-height: 1.2;

                    i {
                        margin-left: 10px;
                        font-size: 20px;
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
    }
}

.pp-post-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 20px;

    .pp-post-img {
        width: 65px;
    }

    .pp-post-info {
        width: calc(100% - 85px);
        margin-left: 20px;

        h6 {
            line-height: 22px;
            margin: 0 0 5px;
            font-weight: 600;

            a {
                color: $clr_white;
            }
        }

        span {
            color: #CEE9E8;
            font-size: 12px;
            line-height: 14px;
            display: block;
        }
    }

    &:last-child {
        margin: 0;
    }
}