/*-----------------------------------------------------------
    Theme Name: Spayro
    Theme URI: 
    Description: Spayro - Technology & IT Startups HTML Template
    Author: HiBootstrap
    Author URI: https://themeforest.net/user/hibootstrap/portfolio
    Version: 1.0
-------------------------------------------------------------*/

// Font Family Variable
$primary_font: 'Roboto',
sans-serif;
$secondary_font: 'Roboto Slab',
serif;



//Color Variable
$clr_white: #fff;
$clr_black: #393939;
$clr_biscay: #1F276E;
$clr_nice_blue: #1A3150;
$clr_corn_blue: #777AF2;
$clr_purs_blue: #002E5B;
$clr_juan: #324F77;
$clr_titan: #F2F2FF;
$clr_grey: #737373;
$clr_ash: #A1A7B1;
$clr_zircon: #F9FAFF;
$clr_peri: #D2D3FF;


$clr_red: #1A3150;
$clr_yellow: #E5E53B;
$clr_alb: #F8F8F8;
$clr_wisp: #FCE7E8;
$clr_charcole: #01060F;
$clr_mirage: #010817;
$clr_wood: #151918;
$clr_pot: #F6E8E8;



/*---------------------------------
            General Styles 
-----------------------------------*/
* {
    box-sizing: border-box;
}

:focus,
button:focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

a {
    color: $clr_black;
    text-transform: inherit;
    text-decoration: none;
}

a:hover,
a :focus {
    color: $clr_grey;
    text-decoration: none;
    box-shadow: none;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary_font;
    font-weight: 700;
    color: $clr_biscay;
}

body {
    color: $clr_black;
    font-size: 16px;
    line-height: 26px;
    font-family: $primary_font;
    overflow-x: hidden !important;

}

ul {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

p {
    font-size: 16px;
    line-height: 26px;
}

a {
    transition: all 0.3s ease;
}

/*---------------------------------
           Input Placeholder
-----------------------------------*/
input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*return-to-top START CSS*/

.back-to-top {
    font-size: 24px;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    color: #4DE2C1;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999;
    border-radius: 50%;
    background: #13171d;

    i {
        color: $clr_white;
    }
}

.page-wrapper {
    overflow-x: hidden !important;
}

/*Proloader START CSS*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $clr_nice_blue;
    z-index: 20000;
    overflow-x: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.pl-text {
    position: absolute;
    left: 50%;
    margin-left: -1.9em;
    color: hsla(0, 0%, 100%, .1);
    font-size: 50px;
}

@keyframes loading {
    from {
        max-width: 0;
    }
}

h1.pl-text:before {
    content: attr(data-content);
    position: absolute;
    overflow: hidden;
    max-width: 4em;
    color: white;
    animation: loading 3s linear infinite;
}

.pt-150 {
    padding-top: 150px;
}

.pt-140 {
    padding-top: 140px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-160 {
    padding-bottom: 160px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pb-140 {
    padding-bottom: 140px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mmt-15 {
    margin-top: -15px;
}

.mmt-25 {
    margin-top: -25px;
}

.mmt-35 {
    margin-top: -35px;
}

.btn {
    font-family: $secondary_font;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 25px;
    text-align: center;
    @include transition(0.4s);

    &.v1 {
        background-color: $clr_corn_blue;
        border: 1px solid transparent;
        color: $clr_white;

        i {
            margin-left: 6px;
            font-size: 15px;
        }
    }

    &.v2 {
        background-color: $clr_white;
        border: 1px solid transparent;
        color: $clr_nice_blue;

        i {
            margin-left: 6px;
            font-size: 15px;
        }
    }

    &.v3 {
        background-color: $clr_nice_blue;
        border: 1px solid transparent;
        color: $clr_white;
        padding: 10px 15px;

        i {
            font-size: 15px;
        }
    }

    &.v4 {
        background-color: $clr_corn_blue;
        border: 1px solid transparent;
        color: $clr_white;
        padding: 10px 15px;

        i {
            font-size: 15px;
        }
    }

    &.v5 {
        background-color: $clr_corn_blue;
        border: 1px solid transparent;
        color: $clr_white;
        padding: 10px 15px;
        border-radius: 50px;
        display: block;

        i {
            font-size: 15px;
        }
    }

    &.v6 {
        background-color: $clr_corn_blue;
        border: 1px solid transparent;
        color: $clr_white;
        display: block;
        width: 100%;
        font-size: 18px;

        i {
            margin-left: 6px;
            font-size: 15px;
        }
    }

    &.v7 {
        background-color: $clr_corn_blue;
        border: 1px solid transparent;
        color: $clr_white;
        border-radius: 50px;
        line-height: 1;
        padding: 10px 20px 12px;


    }

}


.link {
    font-size: 16px;
    line-height: 26px;
    color: $clr_juan;
    font-family: $secondary_font;
    font-weight: 600;
    transition: 0.3s;
    -webkit-transition: 0.3s;

    i {
        margin-left: 5px;
        font-size: 16px;
        position: relative;
        top: 1px;
    }

    &:hover {
        color: $clr_corn_blue;
        letter-spacing: 0.5px;
    }

}

.section-title {
    // margin: 0 0 40px;

    span {
        position: relative;
        padding: 10px 18px 8px 35px;
        background-color: $clr_titan;
        border-radius: 50px;
        line-height: 1.5;
        color: $clr_purs_blue;
        display: inline-block;
        margin: 0 0 13px;
        font-weight: 500;

        &:before {
            position: absolute;
            top: 15px;
            left: 15px;
            content: "";
            width: 14px;
            height: 14px;
            background: #777AF2;
            border-radius: 50%;
        }
    }

    h2 {
        font-size: 40px;
        // line-height: 50px;
        line-height: 1.3;
        font-family: $secondary_font;
        margin: 0;
        color: $clr_biscay;
    }
}

.title {
    font-size: 40px;
    font-weight: 700;
}

.section-padding {
    padding: 100px 0;
}

.text-black {
    color: $clr_black !important;
}

.text-red {
    color: $clr_nice_blue !important;
}

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    background-color: $clr_white;
}

.bg-black {
    background-color: $clr_charcole;
}

.bg-blue {
    background-color: $clr_purs_blue;
}

.bg-corn-blue {
    background-color: $clr_corn_blue;
}

.bg-mirage {
    background-color: #F9FAFF;
}

.bg-titan {
    background-color: $clr_titan;
}

.bg-zircon {
    background-color: $clr_zircon;
}

.bg-charcole {
    background-color: $clr_nice_blue;
}

.font-one {
    font-family: $primary_font !important;
}

.font-two {
    font-family: $secondary_font !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    &.bg-black {
        background-color: $clr_black;
    }

    &.bg-red {
        background-color: $clr_nice_blue;
    }
}

.op-1 {
    opacity: 0.1;
}

.op-2 {
    opacity: 0.2;
}

.op-3 {
    opacity: 0.3;
}

.op-4 {
    opacity: 0.4;
}

.op-5 {
    opacity: 0.5;
}

.op-6 {
    opacity: 0.6;
}

.op-7 {
    opacity: 0.7;
}

.op-8 {
    opacity: 0.8;
}

.op-9 {
    opacity: 0.9;
}

.op-10 {
    opacity: 1;
}

.bg-f {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
}


.content-title {
    position: relative;
    padding-left: 13px;

    &:before {
        position: absolute;
        top: 5px;
        left: 0;
        content: "";
        width: 3px;
        height: calc(100% - 5px);
    }

    h2 {
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
    }
}

/* Circle */
.circle {
    position: relative;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: $clr_juan;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &:hover {
        background: $clr_white;

        i {
            color: $clr_juan;
        }
    }

    i {
        color: $clr_white;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;

        border-radius: 50%;
    }

    &.v1 {
        &:after {
            top: -5px;
            right: -5px;
            bottom: -5px;
            left: -5px;
            border: 5px solid rgb(255, 255, 255, 0.3);
        }

    }

    &.v3 {
        &:after {
            top: -2px;
            right: -2px;
            bottom: -2px;
            left: -2px;
            border: 2px solid $clr_corn_blue;
        }

    }
}


.circle:after {
    animation: ripple 2s linear 1.9s infinite;
}

@keyframes ripple {
    0% {
        @include transform(scale(1));
    }

    50% {
        @include transform(scale(1.2));
        opacity: 1;
    }

    100% {
        @include transform(scale(1.4));
        opacity: 0;
    }
}

.bounce {
    -moz-animation: float 1500ms infinite ease-in-out;
    -webkit-animation: float 1500ms infinite ease-in-out;
    animation: float 1500ms infinite ease-in-out
}

@keyframes float {
    0% {
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        transform: translateY(5px)
    }

    50% {
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    100% {
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        transform: translateY(5px)
    }
}

.social-profile {
    li {
        display: inline-block;
        margin: 0 13px;

        &:first-child {
            margin-left: 0;
        }

        a {
            color: $clr_white;
            font-size: 16px;
            @include transition(0.3s);

            i {
                font-size: 20px;
            }
        }
    }

    &.v1 {
        li {
            position: relative;

            a {
                font-size: 14px;
                @include transition(0.3s);

                &:hover {
                    i {
                        color: $clr_corn_blue;
                    }
                }

            }

            &:before {
                position: absolute;
                content: "";
                top: 3px;
                left: -16px;
                width: 1px;
                height: 20px;
                border-left: 1px dashed $clr_ash;
            }
        }

    }

    &.v3 {
        margin: 25px 0 0;

        li {
            margin: 0 6px;

            &:nth-child(1) {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                display: inline-block;
                width: 35px;
                height: 35px;
                background: #777AF2;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
                @include transition(0.4s);
                display: flex;
                flex-direction: column;
                justify-content: center;

                i {
                    color: $clr_white;
                    font-size: 18px;
                }

                &:hover {
                    background-color: $clr_white;

                    i {
                        color: $clr_corn_blue;

                    }
                }
            }
        }


    }
}

.social-profile.v1 li:first-child::before {
    display: none;
}

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-container-rtl .swiper-button-prev::after,
.swiper-container-rtl .swiper-button-next::after {
    display: none;
}

/*-----------Pagination  CSS-------------*/
.page-navigation {
    margin: 20px 0 0;

    .prev-page,
    .next-page {
        a {
            display: block;
            border: 1px solid #787AF3;
            text-align: center;
            padding: 16px 5px 14px;
            border-radius: 50px;
            text-transform: uppercase;
            line-height: 16px;

            &.active {
                color: $clr_corn_blue;
            }
        }

    }


    .page-nav {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        li {
            margin: 0 5px;

            a {
                display: block;
                width: 49px;
                height: 49px;
                border: 1px solid #787AF3;
                border-radius: 3px;
                font-size: 18px;
                line-height: 48px;
                color: $clr_ash;
                font-family: $secondary_font;
                font-weight: 500;

                &.active,
                &:hover {
                    background: #777AF2;
                    border-color: transparent;
                    color: #fff;
                }
            }
        }
    }
}

.form-wrap {
    .form-group {
        margin: 0 0 25px;

        input,
        textarea {
            width: 100%;
            border: none;
            background: $clr_titan;
            border-radius: 5px;
            padding: 10px 10px 10px 20px;
        }

        input {
            height: 60px;
        }

        textarea {
            height: 140px;
            resize: none;
            padding: 15px 10px 10px 20px;
        }
    }
}

#message {
    padding: 0;
}

.help-block {
    color: #E31C25;
}

.contact-info-box {
    padding: 25px;
    border-radius: 5px;

    p {
        margin: 20px 0 25px 0;
    }

    .contact-item {
        position: relative;
        padding-left: 35px;
        padding-bottom: 20px;

        &:last-child {
            padding-bottom: 0;
        }

        a {
            font-size: 16px;

            i {
                font-size: 28px;
                position: absolute;
                top: 0;
                left: 0;
                color: #777AF2;
            }
        }
    }

}

#map {
    iframe {
        width: 100%;
        height: 373px;
    }
}


.form_group {
    display: block;

    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    label {
        position: relative;
        cursor: pointer;
        padding-left: 25px;

        &:before {
            content: '';
            -webkit-appearance: none;
            background-color: transparent;
            border: 2px solid $clr_corn_blue;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
            position: absolute;
            top: 4px;
            left: 0;
            width: 15px;
            height: 15px;
        }
    }
}

.form_group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid #777AF2;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-group {
    .or {
        text-align: center;
        font-size: 16px;
        display: block;
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            top: 13px;
            left: 0;
            width: 40%;
            height: 1px;
            background-color: #cccccc;
            z-index: -1;
        }

        &:after {
            content: "";
            position: absolute;
            top: 13px;
            right: 0;
            width: 40%;
            height: 1px;
            background-color: #cccccc;
            z-index: -1;
        }
    }
}

/*-------------------------
    Privacy Policy
------------------------*/
.pp-content {
    margin: 0 0 30px;

    &:last-child {
        margin: 0;

        p {
            margin: 0;
        }
    }
}

/*-------------------------
    Error Policy
------------------------*/

.error-content {
    text-align: center;

    span {
        font-size: 110px;
        font-family: $secondary_font;
        font-weight: 700;
        display: block;
        line-height: 100px;
        margin: 0 0 100px;
        color: $clr_corn_blue;
    }

    .btn {
        i {
            margin-right: 5px;
        }
    }
}