/*-------------------------------
         Header CSS
-------------------------------*/
.search-box {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    @include transition(0.4s);

    .form-group {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);

        input {
            width: 100%;
            height: 60px;
            font-size: 20px;
            line-height: 30px;
            border: none;
            border-bottom: 1px solid $clr_grey;
            background: transparent;
            color: $clr_white;
            padding: 10px 40px 10px 10px;

            &::Placeholder {
                color: $clr_white;
                opacity: 0.6;
            }
        }

        button {
            position: absolute;
            top: 20px;
            right: 0;
            background: transparent;
            border: none;

            i {
                color: $clr_white;
                font-size: 22px;

                &.rotate {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    .close-search_box {
        position: absolute;
        top: 40px;
        right: 40px;
        border: none;
        background: transparent;

        i {
            color: $clr_white;
            font-size: 30px;
        }
    }

    &.open {
        top: 0;
        visibility: visible;
        opacity: 1;
    }
}

.header-wrap {
    &.v1 {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        background: transparent;
        @include transition(0.5s);

        &.sticky {
            z-index: 20;
            background: $clr_white;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }
    }

    .header-top {
        background-color: $clr_nice_blue;

        .header-top-left {

            p,
            a {
                color: $clr_white;
                display: inline-block;

                i {
                    font-size: 16px;
                }
            }

            p {
                margin: 0 20px 0 0;
                padding: 0 10px 0 0;
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    top: 5px;
                    right: -8px;
                    width: 1px;
                    height: 20px;
                    background: transparent;
                    border: 1px dashed $clr_ash;
                }

                i {
                    margin-right: 8px;

                }
            }

            a {
                i {
                    margin-right: 10px;
                }
            }
        }

        .header-top-right {
            @extend %flex_end;

        }
    }

    .header-bottom {
        padding: 14px 0;
        background-color: $clr_white;

        .header-bottom-right {
            @extend %flex_end;


        }
    }

    &.style2 {
        .header-top {
            background-color: $clr_corn_blue;
        }
    }
}

.searchBtn {
    background: transparent;
    line-height: 1;
    border: none;
    margin-right: 20px;
    padding: 0 5px;

    @media only screen and (min-width: 1200px) and (max-width: 1365px) {
        margin-right: 8px;
    }

    i {
        color: $clr_corn_blue;
        font-size: 22px;

        &.rotate {
            transform: rotate(-90deg);
        }
    }
}

.rotate {
    i {
        transform: rotate(-90deg);
    }
}

.lang_selctor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    min-width: 72px;

    .nice-select {
        background: transparent;
        font-weight: 16px;
        border: none;
        width: 100%;

        .list {
            padding: 6px 0;
            margin: 0;

            .option {
                line-height: 28px;
                padding-left: 10px;
                padding-right: 10px;
                min-height: auto;
                font-size: 14px;
            }
        }

        &>span {

            color: $clr_white;
            font-weight: 400;
            line-height: 30px;
        }

        &:after {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            width: 6px;
            height: 6px;
            right: 2px;
            top: 52%;
        }
    }
}

/*-------------------------------
         Main Mneu CSS
-------------------------------*/
@media only screen and (min-width: 992px) {
    #menu {
        text-align: center;

        ul {
            li {
                display: inline-block;
                position: relative;


                a {
                    margin: 0 18px;
                    padding: 15px 0;
                    color: $clr_grey;
                    font-family: $secondary_font;
                    @include transition(0.3s);



                    &.active,
                    &:hover {
                        color: $clr_corn_blue;
                    }
                }


                &.has-children {
                    .sub-menu {
                        position: absolute;
                        top: 45px;
                        left: -7px;
                        min-width: 200px;
                        padding: 5px 0;
                        border-radius: 2px;
                        background: $clr_white;
                        visibility: hidden;
                        opacity: 0;
                        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
                        -webkit-transition: 0.3s;
                        transition: 0.3s;
                        z-index: 10;
                        display: block !important;

                        li {
                            margin: 0;
                            display: block;
                            text-align: left;

                            a {
                                font-size: 14px;
                                line-height: 21px;
                                margin: 0px 25px;
                                display: block;
                                color: $clr_nice_blue;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                                padding: 13px 0 15px;
                                -webkit-transition: 0.4s;
                                transition: 0.4s;

                                &.active,
                                &:hover {
                                    color: $clr_corn_blue;
                                    border-color: $clr_corn_blue;
                                }

                                &:hover {
                                    padding-left: 5px;
                                }
                            }

                            &:last-child {
                                &>a {
                                    border-bottom: none;
                                }
                            }

                        }
                    }

                    &:hover {
                        &>.sub-menu {
                            top: 62px;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }


        }

        &>ul {
            &>li {
                padding: 16px 0;

                &>a {
                    position: relative;
                }

                &.has-children {
                    &>a {
                        position: relative;

                        &:before {
                            position: absolute;
                            top: 22px;
                            right: -12px;
                            content: "";
                            width: 6px;
                            height: 6px;
                            border-left: 2.9px solid $clr_grey;
                            border-bottom: 2.9px solid $clr_grey;
                            transform: rotate(-45deg);
                        }

                        &.active,
                        &:hover {
                            &:before {
                                border-color: $clr_corn_blue;
                            }
                        }

                    }

                    &>.sub-menu {
                        &>.has-children {
                            &>a {
                                position: relative;

                                &:after {
                                    position: absolute;
                                    top: 22px;
                                    right: 0;
                                    content: "";
                                    width: 6px;
                                    height: 6px;
                                    border-left: 1.9px solid $clr_nice_blue;
                                    border-bottom: 1.9px solid $clr_nice_blue;
                                    transform: rotate(-135deg);
                                }

                                &:hover {
                                    &:after {
                                        border-color: $clr_corn_blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &>.has-children {
                position: relative;
            }

        }
    }

    #menu ul>.has-children>.sub-menu>.has-children>.sub-menu {
        left: 100%;
        top: -5px;
    }
}

@media only screen and (max-width: 991px) {
    .menu-close {
        position: absolute;
        top: 13px;
        right: 16px;

        i {
            font-size: 22px;
        }
    }

    .mobile-menu {
        text-align: right;

        a {
            i {
                color: $clr_black;
                font-size: 28px;
            }
        }

    }

    .mobile-top-bar,
    .mobile-menu {
        display: inline-block;
    }

    .main-menu-wrap {

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            display: block;

        }

        @media only screen and (max-width: 767px) {
            display: block;
        }

    }

    .main-menu-wrap {
        width: 100%;
        position: fixed;
        background: #fff;
        z-index: 999;
        top: 0;
        height: 100vh;
        transition: 0.5s;
        left: -100%;
        padding: 55px 20px 30px;
        overflow-y: auto;
        @include transition(0.4s);

        &.open {
            left: 0;
        }
    }

    .main-menu {
        &>li {
            &.has-children {
                &.menu-open {
                    &>span.menu-expand {
                        transform: rotate(180deg);
                    }
                }
            }

            & ul {
                & li {
                    &.has-children {
                        &.menu-open {
                            & span.menu-expand {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .main-menu {
        & li {
            position: relative;

            &:last-child {
                margin: 0;
            }

            & span {
                &.menu-expand {
                    position: absolute;
                    right: 0;
                    cursor: pointer;

                    &:hover {
                        color: $clr_black;
                    }
                }
            }

            & a {
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
                display: block;
                padding-bottom: 12px;
                margin-bottom: 12px;
                border-bottom: 1px solid $clr_grey;

                &:hover {
                    color: $clr_black;
                }
            }

            & ul.sub-menu {
                padding-left: 20px;

                & li {
                    & a {}
                }
            }

        }
    }

    .main-menu li a.active {
        color: $clr_corn_blue;
        border-color: $clr_corn_blue
    }
}