/*---------------------------------
        Hero CSS 
-----------------------------------*/
.hero-bg-1 {
    background-image: url(../img/hero/hero-1.jpg);
}

.hero-bg-2 {
    background-image: url(../img/hero/hero-3.jpg);
}

.hero-bg-3 {
    background-image: url(../img/hero/hero-3.png);
}

.hero-bg-4 {
    background-image: url(../img/hero/hero-4.png);
}

.hero-wrap {
    margin: 134px 0 0;
    position: relative;

    .hero-slider-v1 {
        .hero-slider-item {
            padding: 250px 0 250px;


        }
    }

    .hero-v2 {
        padding: 250px 0 250px;
    }

    .hero-content {
        .hero-promo-text {
            display: inline-block;
            border-radius: 0 5px 5px 0;
            line-height: 1.2;
            color: $clr_white;
            border-radius: 5px;
            padding: 10px 25px;

        }

        h1 {
            font-size: 56px;
            line-height: 1.2;
            color: #fff;
            font-weight: 800;
            margin: 25px 0 20px;

        }

        p {
            color: #fff;
            margin-bottom: 36px;
        }

        .hero-btn {
            @extend %flex;

            a:nth-child(1) {
                margin-right: 20px;
            }
        }
    }

}

.hero-v2 .container {
    z-index: 1;
    position: relative;
}

.hero-pagination.dots-pagination {
    position: absolute;
    bottom: 30px;
    left: 50%;
    @include transform(translateX(-50%));
    z-index: 999;
    width: 100%;
    text-align: center;

}

.hero-pagination.dots-pagination span.swiper-pagination-bullet-active::before {
    background-color: $clr_white;
}

.exp-box {
    position: relative;
    display: inline-block;
    padding: 15px 25px 15px 15px;
    background: $clr_nice_blue;
    float: right;
    top: 30px;
    right: -40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $clr_white;
        position: absolute;
        top: -10px;
        right: -10px;
        text-align: center;

        i {
            color: $clr_corn_blue;
            font-size: 20px;
            line-height: 44px;
        }
    }

    h4 {
        color: $clr_white;
        font-size: 16px;
        font-weight: 400;
        margin: 0;

        span {
            display: block;
            font-size: 32px;
            font-weight: 600;
            line-height: 1;
            margin: 0 0 5px;
        }
    }
}

.hero-slider-v1 .swiper-slide-active .hero-promo-text {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.8s;
}

.hero-slider-v1 .swiper-slide-active h1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 1.2s;
}

.hero-slider-v1 .swiper-slide-active p {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 1.8s;
}

.hero-slider-v1 .swiper-slide-active .hero-btn {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 2.3s;
}

.hero-slider-v3 .owl-item.active a.btn.v1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 1.7s;
}

.hero-slider-v3 .owl-item.active a.btn.v4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 2s;
}