/*---------------------------------
        Testimonial CSS 
-----------------------------------*/
.portfolio-slider {
    padding: 15px 0 65px;
}

.portfolio-item-wrap {
    display: grid;
    grid-gap: 30px;
}

.portfolio-item {
    position: relative;
    background: $clr_white;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 0;
    border-radius: 5px;

    .portfolio-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 30px 30px;
        background: rgb(244, 244, 255, 0.8);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        h4 {
            margin: 0;
            font-family: $primary_font;

            a {
                color: $clr_nice_blue;
                @include transition (0.4s);

                i {
                    position: relative;
                    top: 2px;
                }

            }
        }
    }
}

.portfolio-slider .swiper-pagination.dots-pagination {
    bottom: -7px;
}


.portfolio-item:hover .portfolio-info h4 a {
    color: $clr_corn_blue;
}

.dots-pagination {
    span {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid $clr_corn_blue;
        background: transparent;
        opacity: 1;

        &:before {
            position: absolute;
            top: 3px;
            left: 3px;
            content: "";
            width: 12px;
            height: 12px;
            background: transparent;
            ;
            border-radius: 50%;
        }

        &.swiper-pagination-bullet-active {
            &:before {
                background: $clr_corn_blue;
            }


        }
    }
}

.project-details-item {
    display: flex;
    justify-content: flex-start;
    padding: 13px 30px;
    align-items: center;

    h6 {
        line-height: 1;
        margin: 0 10px 0 0;
    }

    p {
        margin: 0;
        line-height: 1;
        position: relative;
        top: 1px;
    }
}

.single-portfolio-img {
    margin: 0 0 30px;
}

.portfolio-details-desc {
    margin: 0 0 25px;

    h3 {
        margin: 0 0 20px;
        line-height: 1.4;
    }
}