/*-------------------------
    Pricing Section CSS
--------------------------*/
.payment-switch-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    .toggle-switch {
        margin: 0px 20px;

        input[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;
        }

        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 80px;
            height: 40px;
            background: $clr_corn_blue;
            display: block;
            border-radius: 100px;
            position: relative;
            top: -18px;

            &:after {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: 30px;
                height: 30px;
                background: $clr_white;
                border-radius: 90px;
                transition: 0.3s;
            }

        }
    }

}

.payment-switch-wrap .toggle-switch input:checked+label {
    background: $clr_nice_blue;
}

.payment-switch-wrap .toggle-switch input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.payment-switch-wrap .toggle-switch label:active:after {
    width: 130px;
}

.pricing-text {
    h2 {
        font-size: 40px;
        line-height: 50px;
        margin: 0 0 20px;
    }
}

.pricing-box-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    position: relative;

    .pricing-shape-one {
        position: absolute;
        bottom: 0px;
        left: 50%;
        @include transform(translate(-50%));
        z-index: -1;

    }

    .pricing-box {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: $clr_white;

        .pricing-box-name {
            text-align: center;
            padding: 25px 0;
            margin: 0;
            color: $clr_corn_blue;
        }

        .price-tag {
            border-bottom: 1px solid #E5EAFF;
            border-top: 1px solid #E5EAFF;
            padding: 18px 0 20px;
            text-align: center;

            h3 {
                font-size: 40px;
                line-height: 56px;
                margin: 0;
                color: $clr_corn_blue;

                span {
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: $clr_ash;
                    font-family: $primary_font;
                }
            }
        }


        .price-box-features {
            margin: 25px auto;
            display: block;
            max-width: 55%;

            li {
                position: relative;
                padding: 5px 0 5px 25px;

                i {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    color: $clr_corn_blue;
                    font-size: 16px;
                }
            }
        }

        .book-btn {
            text-align: center;
            padding-bottom: 35px;
        }
    }

    &.v1 {
        position: relative;

        &:before {
            position: absolute;
            top: 45%;
            left: 50%;
            content: "";
            background: transparent;
            width: 1px;
            height: 1px;
            border-radius: 50%;
            box-shadow: 0px 0px 79px 35px $clr_corn_blue;
            z-index: -1;
            @include transform(translate(-50%, -50%));
        }

        .pricing-box {
            &.active {
                background-color: $clr_biscay;

                .price-box-features {
                    li {
                        i {
                            color: $clr_white;
                        }
                    }
                }
            }
        }
    }

    &.v2 {
        z-index: 2;
        position: relative;

        .pricing-box {
            &.active {
                background-color: $clr_corn_blue;

                .price-box-features {
                    li {
                        i {
                            color: $clr_white;
                        }
                    }
                }

                .btn {
                    &.v1 {
                        background-color: $clr_nice_blue;
                    }
                }
            }
        }
    }
}

.pricing-box-wrap.v1 .pricing-box.active .pricing-box-name,
.pricing-box-wrap.v2 .pricing-box.active .pricing-box-name,

.pricing-box-wrap.v1 .pricing-box.active .price-tag,
.pricing-box-wrap.v2 .pricing-box.active .price-tag,
.pricing-box-wrap.v1 .pricing-box.active .price-box-features li,
.pricing-box-wrap.v2 .pricing-box.active .price-box-features li,
.pricing-box-wrap.v1 .pricing-box.active .price-tag h3,
.pricing-box-wrap.v2 .pricing-box.active .price-tag h3,
.pricing-box-wrap.v1 .pricing-box.active .price-tag h3 span,
.pricing-box-wrap.v2 .pricing-box.active .price-tag h3 span {
    color: $clr_white;
}

.pricing-box-wrap.v1 .pricing-box.active .price-tag {
    border-color: #324F77;
}