/*-----------------------
    Promo Section CSS
-----------------------*/
.promo-bg-1 {
    background-image: url(../img/promo/promo-1.jpg);
    height: 599px;
    position: relative;
    width: 50%;
}

.promo-bg-2 {
    background-image: url(../img/promo/promo-2.jpg);

}

.promo-bg-3 {
    background-image: url(../img/promo/promo-3.jpg);

}

.promo-bg-4 {
    background-image: url(../img/promo/promo-4.jpg);

}

.promo-bg-5 {
    background-image: url(../img/promo/promo-5.jpg);

}

.promo-box-wrap {
    .promo-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        @include transition(0.5s);
        position: relative;

        .promo-icon {
            width: 42px;
            z-index: 3;
            position: relative;
        }

        .promo-text {
            margin-left: 25px;
            width: calc(100% - 72px);
            z-index: 3;
            position: relative;
            @include transition(0.4s);

            p {
                margin: 0;
            }
        }
    }

    &.v1 {
        padding-right: calc((50% - 1410px / 2 + 10px));
        width: 50%;

        .promo-box {
            padding-right: calc((50% - 1410px) / 2 + 15px);
            padding: 30px 0 30px 35px;
            border-bottom: 2px solid $clr_titan;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                background: $clr_biscay;
                width: 300%;
                height: 100%;
                visibility: hidden;
                opacity: 0;
                @include transition(0.5s);
            }
        }
    }

    &.v2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-gap: 30px;
        position: relative;

        &:before {
            position: absolute;
            top: 45%;
            left: 50%;
            content: "";
            background: transparent;
            width: 1px;
            height: 1px;
            border-radius: 50%;
            box-shadow: 0px 0px 79px 35px $clr_corn_blue;
            z-index: -1;
            @include transform(translate(-50%, -50%));
        }

        .promo-box {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            padding: 25px 30px;
            background: $clr_white;
            border-radius: 0 25px 0 25px;
            @include transition(0.4s);

            &:hover {
                background-color: $clr_corn_blue;

                h4,
                p,
                i {
                    color: $clr_white;
                }
            }

        }
    }

    &.v3 {
        &>.container-fluid {
            &>.row {
                &>.col-lg-6 {
                    margin: 0 0 25px;
                }
            }
        }

        .promo-img {
            height: 100%;
        }

        .promo-box {
            flex-direction: column;
            align-items: flex-start;
            background-color: $clr_corn_blue;
            padding: 60px 40px;

            .promo-icon {
                margin: 0 0 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;

                i {
                    color: $clr_white;
                    font-size: 46px;
                }
                span{
                    font-size: 30px;
                    font-family: $secondary_font;
                    color: $clr_titan;
                    font-size:40px;
                    font-weight: 700;
                    opacity: 0.7;
                }

            }

            .promo-text {
                margin: 0;
                width: 100%;

                h4,
                p {
                    color: $clr_white;
                }

               
            }
        }
    }
}

.promo-box-wrap.v3>.container-fluid>.row>.col-lg-6:nth-child(3),
.promo-box-wrap.v3>.container-fluid>.row>.col-lg-6:nth-child(4) {
    margin: 0;
}

.promo-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video-play {
    &.v3 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        transform: translate(-50%, -50%);
        background-color: $clr_corn_blue;

        i {
            font-size: 28px;
            position: relative;
            left: 2px;
        }
    }
}

.promo-icon i {
    font-size: 35px;
    color: $clr_corn_blue;
}