/*-------------------------------
         Process CSS
-------------------------------*/


.process-bg-1 {
    background-image: url(../img/bg-1.png);
}

.process-curve {
    position: absolute;
    top: -54px;
    left: 50%;
    width: 1290px;
    z-index: 0;
    transform: translateX(-50%);
}

.process-line {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 100%;
    z-index: 0;
    transform: translateX(-50%);
}

.process-item-wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    .process-item {
        text-align: center;

        .process-icon {
            width: 85px;
            height: 85px;
            border-radius: 50%;
            background: $clr_titan;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto 20px;
            position: relative;
            z-index: 9;
            @include transition (0.3s);
        }

        p {
            margin: 0;
        }

        &:hover {
            .process-icon {
                background-color: #787AF3;

                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    &.v1 {
        border-bottom: 1px solid rgba(119, 122, 242, 0.4);

    }
}

.partner-logo-area {
    background-image: url(../img/bg-2.png);
}

.partner-item {

    img {
        @include filter(1);
    }
}

.partner-slider .swiper-slide-active .partner-item img {
    @include filter(0);
}
.partner-logo-area{
    &.v2{
            margin: 0 0 -60px;
    }
}