/*----------------------------
    Responsive CSS
-----------------------------*/
@media only screen and (max-width: 767px) {
    .sm-none {
        display: none !important;
    }

    .sm-center {
        text-align: center !important;
    }

    .spt-0 {
        padding-top: 0 !important;
    }

    .spt-10 {
        padding-top: 10px !important;
    }

    .smb-30 {
        margin-bottom: 30px !important;
    }
    .xmb-30 {
        margin-bottom: 30px !important;
    }

    .mb-40 {
        margin-bottom: 25px !important;
    }

    .pt-150 {
        padding-top: 100px
    }

    .pt-100 {
        padding-top: 50px
    }

    .pt-70 {
        padding-top: 20px
    }

    .pt-60 {
        padding-top: 30px
    }

    .pt-50 {
        padding-top: 25px
    }

    .pb-150 {
        padding-bottom: 50px
    }

    .pb-100 {
        padding-bottom: 50px
    }

    .pb-90 {
        padding-bottom: 25px !important;
    }

    .pb-50 {
        padding-bottom: 25px
    }

    .pb-70 {
        padding-bottom: 20px
    }

    .pb-60 {
        padding-bottom: 25px
    }

    .mb-40 {
        margin-bottom: 25px;
    }

    .section-title h2 {
        font-size: 26px;

    }

    .section-title.mb-30 {
        margin-bottom: 20px !important;
    }

    .search-box .form-group {
        width: 90%;
    }

    .search-box .close-search_box {
        top: 12px;
        right: 0;
    }

    .search-box .form-group input {
        font-size: 16px;
        height: 55px;
    }

    .search-box .form-group button i {
        font-size: 22px;
    }

    .section-title span::before {
        top: 12px;
        left: 15px;
        width: 10px;
        height: 10px;
    }

    .section-title span {
        font-size: 12px;
    }

    .section-title.v1 span::before {
        display: none;
    }

    .breadcrumb-wrap {
        padding: 80px 0 80px;
    }

    .service-box .service-img {
        padding: 15px 15px 0;
    }

    .service-box .service-info {
        padding: 0 15px 22px;
    }

    .process-item-wrap {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .pricing-text h2 {
        font-size: 25px;
        line-height: 1.4;
    }

    .feature-box-wrap.v1 {
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }

    .feature-wrap.pt-50.pb-140.mt-10 {
        padding-bottom: 60px;
    }

    .promo-box-wrap.v3 .promo-box {

        padding: 30px 20px;
    }

    .counter-box-wrap .counter-text {
        margin: 0 0 30px;
    }

    .counter-box-wrap {
        padding: 35px 15px 0;

        &.v2 {
            &>.row {
                // .col-md-3 {
                //     &:nth-child(2) {
                //         .counter-text {
                //             &:after {
                //                 display: none;

                //             }
                //         }
                //     }

                // }
            }
        }
    }

    .counter-box-wrap.v2 .counter-text::after {
        display: none;
    }



    .pricing-wrap.pt-100.pb-50 {
        padding-bottom: 0;
    }

    .pricing-box-wrap.v1::before,
    .pricing-box-wrap .pricing-shape-one {
        display: none;
    }

    .pricing-box-wrap {
        grid-template-columns: 1fr;
    }

    .portfolio-slider {
        padding: 10px 0 45px;
    }

    .testimonial-wrap::before {
        height: 190px;
    }

    .feature-box-wrap.v2 {
        grid-template-columns: 1fr;
    }

    .newsletter-wrap {
        margin: 0 0 -100px;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }

    .newsletter-wrap .newsletter-box .newsletter-box-right .newsletter-form button {
        font-size: 14px;
    }

    .newsletter-wrap .newsletter-box .newsletter-box-right .newsletter-form button i {
        margin-left: 8px;
        font-size: 17px;
        top: 1px;
    }

    .newsletter-wrap .newsletter-box .newsletter-box-left h3 {
        font-size: 20px;
        margin: 0 0 15px;
    }

    .footer-top.pt-150.pb-100 {
        padding-top: 115px;
    }

    .footer-wrap .footer-top .footer-widget .footer-widget-title {
        margin: 0 0 15px;
    }


    .page-navigation .page-nav {

        margin: 25px 0;
    }

    .product-item-wrap {
        grid-template-columns: 1fr;
    }

    .page-navigation .page-nav li a {
        width: 36px;
        height: 36px;
        font-size: 14px;
        line-height: 34px;
    }

    .page-navigation .prev-page a,
    .page-navigation .next-page a {
        padding: 10px 5px 9px;
        line-height: 16px;
        font-size: 14px;
    }

    .product-thumb {
        padding: 8px;
    }

    .product-large-img {
        margin: 0 0 20px;
    }

    .shop-wrap.pt-80.pb-100.cart {
        padding-top: 25px;
    }

    .post-share.w-100 {
        text-align: left;
        margin: 20px 0 0;
    }

    .post-content,
    .post-author {
        padding: 25px 20px;
    }

    .post-meta-option.bg-zircon {
        padding: 20px 15px 30px;
    }

    .post-author .post-author-img {
        width: 80px;
        height: 80px;
    }

    .post-author .post-author-info {
        width: calc(100% - 100px);
        margin-left: 20px;
    }

    .comment-author .btn.v7 {
        margin: 15px 0;
    }

    .comment-box .comment-author.reply {
        margin-left: 20px;
    }

    .testimonial-wrap.v3.mt-80 {
        margin-top: 35px !important;
    }

    .cta-btn.text-md-end.sm-center {
        margin: 25px 0 0;
    }

    .about-wrap.v3.pt-130.pb-50 {
        padding-top: 50px;
    }

    .process-wrap.pt-80.pb-100 {
        padding-top: 25px;
    }

    .partner-logo-area.v2.bg-f.pt-100.pb-160 {
        padding-bottom: 105px;
    }

    .about-wrap.v3.pt-130.pb-100 {
        padding-top: 50px;
    }

    .feature-wrap.pt-30.pb-50 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .service-details-text .service-details-title {
        font-size: 30px;
        line-height: 1.2;
    }

    .service-details-wrap.pt-100.pb-100 .row.gx-5.pb-130 {
        padding-bottom: 70px;
    }

    .service-details-text {
        text-align: center;
    }

    .service-features {
        margin: 0;
    }
}


@media only screen and (min-width:768px) and (max-width: 991px) {
    .pt-150 {
        padding-top: 70px
    }

    .pt-100 {
        padding-top: 70px
    }

    .pt-50 {
        padding-top: 20px
    }

    .pb-150 {
        padding-bottom: 70px
    }

    .pb-100 {
        padding-bottom: 70px
    }

    .pb-90 {
        padding-bottom: 50px
    }

    .pb-70 {
        padding-bottom: 40px
    }

    .pb-50 {
        padding-bottom: 20px
    }

    .promo-box-wrap.v1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 35px 15px 38px;
        border-bottom: 1px solid #ddd;
    }

    .promo-box-wrap.v1 .promo-box {

        max-width: 720px;
    }

    .promo-box-wrap.v1 .promo-box:nth-child(3),
    .promo-box-wrap.v1 .promo-box:nth-child(4) {
        border-bottom: none;
    }

    .process-item-wrap.v1.pb-50 {
        padding-bottom: 50px;
    }

    .pricing-wrap.v1.pt-100.pb-50 {
        padding-bottom: 0;
    }

    .process-item-wrap {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    .feature-box-wrap.v3 {
        grid-template-columns: 1fr 1fr;
    }

    .feature-box-wrap.v2 {
        grid-template-columns: 1fr 1fr;
    }

    .feature-wrap.pt-50.pb-140.mt-10 {
        padding-bottom: 70px;
    }

    .testimonial-wrap::before {
        height: 260px;
    }

    .counter-box-wrap.v2 .counter-text::after {
        right: -22px;
        height: 78px;
    }

    .newsletter-wrap .newsletter-box .newsletter-box-left h3 {
        font-size: 24px;
    }

    .footer-wrap.v1 .footer-top {
        padding-top: 90px;
    }

    .product-item-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .shop-wrap.pt-80.pb-100.cart {
        padding-top: 40px;
    }

    .testimonial-wrap.v3.mt-80 {
        margin-top: 60px !important;
    }

    .about-wrap.v3.pt-130.pb-100 {
        padding-top: 70px;
    }

    .feature-wrap.pt-30.pb-50 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .portfolio-item-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .service-details-wrap.pt-100.pb-100 .row.gx-5.pb-130 {
        padding-bottom: 70px;
    }
}

@media only screen and (max-width: 991px) {
    .md-none {
        display: none !important;
    }

    .md-center {
        text-align: center !important;
    }

    .smb-0 {
        margin-bottom: 0 !important
    }

    .smt-30 {
        margin-top: 30px !important
    }

    .smt-20 {
        margin-top: 20px !important
    }

    .smb-25 {
        margin-bottom: 25px !important
    }

    .smb-30 {
        margin-bottom: 30px !important
    }

    .smb-50 {
        margin-bottom: 50px !important
    }

    .smb-90 {
        margin-bottom: -90px !important;
    }

    .mobile-bar-wrap {
        text-align: right;
        position: relative;
        top: 4px;
    }

    .header-wrap .header-bottom {
        padding: 0;
    }

    .header-wrap .header-bottom .header-bottom-right,
    .header-wrap .header-top .header-top-right {
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }

    .header-wrap .header-top .header-top-left p {
        margin: 0;
        padding: 0;
    }

    .header-wrap .header-top .header-top-left p,
    .header-wrap .header-top .header-top-left a {
        color: #fff;
        display: block;
    }

    .header-wrap .header-top .header-top-left p::after {
        display: none;
    }

    .header-wrap .header-bottom .header-bottom-right,
    .header-wrap .header-top .header-top-right {
        justify-content: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        -ms-grid-row-align: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .header-top-right .social-profile.v1 {
        margin: 7px 0 15px;
    }

    .header-top-right .lang_selctor {
        border: 1px solid #666;
        width: 100%;
        border-radius: 5px;
        margin: 0 0 20px !important;
    }

    .lang_selctor .nice-select::after {
        right: 12px;
    }

    .header-top-right .btn.v1 {
        width: 100%;
        display: block;
    }

    .hero-wrap,
    .breadcrumb-wrap {
        margin: 69px 0 0;
    }

    .hero-wrap .hero-content .hero-promo-text span {
        display: block;
    }

    .breadcrumb-wrap .breadcrumb-title h2 {
        font-size: 32px;

    }

    .hero-slider-item .overlay,
    .hero-v2 .overlay {
        opacity: 0.7;
    }

    .about-video {
        height: 400px;
    }

    .about-wrap.v3 .about-video {
        margin: 30px 0 0;
    }

    .promo-box-wrap.v3.mmt-35 {
        margin-top: -20px;
    }

    .feature-shape-one,
    .feature-shape-two {
        display: none;
    }

    .promo-box-wrap.v2 .promo-box .promo-icon {
        margin: 0 auto 15px;
    }

    .promo-bg-1 {
        height: 500px;
        width: 100%;
    }

    .promo-box-wrap.v1 {
        width: 100%;
    }

    .promo-box-wrap.v1 .promo-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 15px 25px;
        margin: 0 auto;
    }


    .promo-box-wrap .promo-box .promo-icon {
        width: auto;
        margin: 0 0 10px;
    }

    .promo-box-wrap .promo-box .promo-text {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .promo-box-wrap.v3 .promo-box .promo-text {
        text-align: left;
    }

    .counter-box-wrap .counter-shape-one,
    .counter-box-wrap .counter-shape-two {
        display: none;
    }

    .title_sub.v1::before {
        display: none;
    }

    .bb-none {
        border-bottom: none !important;
    }

    .content-title.v7 {
        text-align: left !important;
    }

    .mobile-top-bar i {
        color: $clr_black;
        font-size: 27px;
        margin-right: 6px;
        cursor: pointer;
    }

    .searchBtn {
        margin-right: 4px;

        i {
            font-size: 24px;
        }
    }


    .header-top {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        justify-content: flex-start;
        background: #000;
        right: -100%;
        padding: 40px 5px;
        display: block;
        z-index: 99;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
    }

    .header-top.open {
        visibility: visible;
        opacity: 1;
        right: 0;
    }

    .lang_selctor {
        margin: 0 0 0 11px;
    }

    .close-header-top button {
        position: absolute;
        top: 14px;
        right: 10px;
        z-index: 999;
        background: transparent;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 0;
    }

    .close-header-top button i {
        color: #fff;
        font-size: 20px;
    }

    .header-bottom {
        border-top: none;
    }

    .header-wrap.v1.sticky,
    .header-wrap.v1 {
        padding: 10px 0px;
    }

    .header-wrap.v1.s2.sticky,
    .header-wrap.v1.s2 {
        padding: 0px 0px;

    }

    .header-wrap.v1.s2.sticky .header-bottom {

        padding: 10px 0;

    }

    .header-wrap.v1 .container {
        border: none;
    }

    .testimonial-wrap::before {
        width: 100%;
    }


    .newsletter-wrap .newsletter-box .newsletter-box-right .newsletter-form input {
        color: $clr_nice_blue;
        padding: 10px 140px 10px 18px;
    }

    .newsletter-wrap .newsletter-box {
        padding: 25px;
    }

    .newsletter-wrap .newsletter-box .newsletter-box-left,
    .newsletter-wrap .newsletter-box .newsletter-box-right {
        width: 100%;
    }

    .newsletter-wrap .newsletter-box::before {
        display: none;
    }

    .newsletter-wrap .newsletter-box .newsletter-box-left h3 {
        margin: 0 0 15px;
        text-align: center;
    }


    .footer-wrap .footer-top .footer-widget {
        margin: 30px 0 0;
    }

    .copyright-text {
        margin: 0 0 5px;
    }

    .copyright-text,
    .footer-wrap .footer-bottom .footer-bottom-menu {
        text-align: center;
    }

    .filter-item-cat .nice-select {
        margin: 20px 0 25px;
    }


    .sidebar {
        margin: 40px 0 0;
    }

    .portfolio-details-wrap .sidebar {
        margin: 0 0 30px;
    }

    .single-product-details {
        margin: 25px 0 0;
    }

    .wishlist-table {
        width: 100%;
        overflow-x: auto;
    }

    .wishlist-table table td:nth-child(1),
    .wishlist-table table th:nth-child(1) {
        min-width: 400px;
    }

    .wishlist-table table td:nth-child(3),
    .wishlist-table table th:nth-child(3) {
        min-width: 150px;
    }

    .wishlist-table.wishlist table td:nth-child(3),
    .wishlist-table.wishlist table th:nth-child(3) {
        min-width: 220px;
    }

    .wishlist-table.wishlist table td:nth-child(4),
    .wishlist-table.wishlist table th:nth-child(4) {
        min-width: 150px;
    }

    .contact-info-box {
        margin: 0 0 25px;
    }

    .service-details-img {
        height: 450px;
        margin-top: 30px;
    }
}


@media only screen and (min-width: 768px) {
    .lg-none {
        display: none !important;
    }
}

@media only screen and (min-width: 992px) {
    .xl-none {
        display: none !important;
    }

    .lmt-50 {
        margin-top: 50px;
    }

    .menu-expand {
        display: none;
    }

    .hero-slider-item .overlay,
    .hero-v2 .overlay {
        opacity: 0;
    }

    .promo-box-wrap {
        &.v1 {
            .promo-box {
                &:hover {
                    border-color: transparent;

                    &:before {
                        visibility: visible;
                        opacity: 1;
                    }

                    .promo-icon {
                        i {
                            color: $clr_white;
                        }
                    }

                    .promo-text {

                        p,
                        h4 {
                            color: $clr_white;
                        }
                    }
                }
            }
        }
    }

    .post-meta-option.bg-zircon {
        padding: 20px 30px 30px;
    }

    .service-wrap .dots-pagination {
        bottom: -5px;
    }
}


@media only screen and (max-width: 1199px) {
    .lg-center {
        text-align: center !important;
    }

    .lpb-20 {
        padding-bottom: 20px !important;
    }

    .section_subtext {
        display: none;
    }

    .pricing-wrap.pt-100.pb-50 .section-title.text-center.pb-90 {
        padding-bottom: 20px;
    }

    .process-curve {
        top: -35px;
        width: 100%;
    }

    .payment-switch-wrap {
        justify-content: center;

    }

    .pricing-text {
        text-align: center;
        margin: 0 0 38px;
    }

    .pricing-wrap.v2 .pricing-text {
        margin: 0 0 18px;
    }

    // .blog-wrap {
    //     .container {
    //         .row {
    //             // .col-xl-4.col-lg-6 {
    //             //     .blog-item {
    //             //         margin: 0 0 25px;
    //             //     }

    //             //     &:last-child {
    //             //         .blog-item {
    //             //             margin: 0;
    //             //         }
    //             //     }
    //             // }
    //         }
    //     }
    // }

    .coupon-box-wrap.cart-total {
        margin: 20px 0 0;
    }

    .blog-wrap.pt-100.pb-100 .sidebar {
        margin: 30px 0 0;
    }
    .lmb-30{
        margin-bottom: 30px;
    }
    .feature-list-item::before {

        display: none;
    }

    .feature-list-item {
        margin: 0 0 20px 0px;
    }

    .feature-list {
        margin: 0 0 50px;
    }

    .pricing-wrap.v1 .section-title.pb-90 {
        padding-bottom: 20px;
    }

    .form-group .or::before,
    .form-group .or::after {
        width: 32%;
    }

}

@media only screen and (min-width:992px) and (max-width: 1199px) {
    .mpx-0 {
        padding: 0;
    }

    .lg-center {
        text-align: center !important
    }

    #menu ul li a {
        margin: 0 14px;
        font-size: 14px;
    }

    .header-bottom-right .btn.v1 {
        font-size: 13px;
        padding: 10px 15px;
        line-height: 22px;
    }

    .searchBtn {
        margin: 0;
        padding: 0 8px;

        i {
            font-size: 20px;
        }
    }

    .exp-box {
        top: 180px;
        right: 0;
    }

    .feature-box-wrap.v3 {
        grid-template-columns: 1fr 1fr;
    }

    .process-info h4 {
        font-size: 17px;
    }

    .process-info p {
        font-size: 13px;
        line-height: 1.5;
    }

    .promo-box-wrap.v1 {
        padding-right: calc((50% - 960px / 2 + 10px));
    }

    .promo-bg-1 {
        height: 704px;
    }

    .product-item-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .testimonial-wrap::before {
        width: 42%;
    }

    .newsletter-wrap .newsletter-box {

        padding: 20px 25px;
    }

    .newsletter-wrap .newsletter-box .newsletter-box-left h3 {
        font-size: 20px;
    }

    .footer-wrap .footer-top .footer-widget .footer-widget-title {
        font-size: 21px;
    }

    .footer-wrap .footer-top .footer-widget .comp-desc {
        padding-right: 16px;
    }

    .add-cart button.v3,
    .add-wishlist button.v4 {
        font-size: 12px;
        padding: 10px 12px;
    }

    .add-cart button i,
    .add-wishlist button i {
        top: 2px !important;
    }

    .feature-box-wrap.v2 {
        grid-template-columns: 1fr 1fr;
    }

    .portfolio-item-wrap {
        grid-template-columns: 1fr 1fr;
    }

    .service-details-wrap.pt-100.pb-100 .row.gx-5.pb-130 {
        padding-bottom: 90px;
    }

    .project-details-item h6 {
        margin: 0 5px 0px 0;
    }

    .pricing-box-wrap.v2 {
        padding-top: 20px !important;
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1360px) {
    .newsletter-wrap .newsletter-box .newsletter-box-left h3 {
        font-size: 26px;
    }

    .process-info h4 {
        font-size: 22px;
    }

    .product-next {
        right: -10px;
    }

    .product-prev {
        left: -10px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    .exp-box {
        top: 130px;
        right: 1px;
    }

    .process-curve {
        width: 90%;
    }

    .promo-bg-1 {
        height: 577px;
    }


    p {
        font-size: 15px;
        line-height: 23px;
    }

}

@media only screen and (min-width:1200px) {
    .container {
        max-width: 1320px;
    }

    .xmt-50 {
        margin-top: 50px;
    }

    .hero-wrap .hero-content p {
        padding-right: 100px;
    }

    .about-wrap.v3 .about-video {
        margin-left: 30px;
    }

    .pricing-box {
        &.active {
            @include transform(translateY(-50px));


        }

        &.v2 {
            &.active {
                @include transform(translateY(-50px));


            }
        }
    }

    .testimonial-slider {
        margin-left: 50px;
    }

    .feature-content {
        padding-right: 30px;
    }

    .feature-box-wrap.v1 .feature-box:nth-child(3),
    .feature-box-wrap.v1 .feature-box:nth-child(5) {
        transform: translateY(50px);
    }

    .pp-post-item:nth-child(1) {
        padding-top: 5px;
    }

    .portfolio-item-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
    }


}

@media only screen and (min-width:1450px) {
    .container {
        max-width: 1410px;
    }

}

@media only screen and (min-width:576px) and (max-width:767px) {

    .hero-wrap .hero-v2,
    .hero-wrap .hero-slider-v1 .hero-slider-item {
        padding: 150px 0 150px;
    }

    .hero-wrap .hero-content h1 {
        font-size: 44px;
    }

    .feature-box-wrap.v3 {
        grid-template-columns: 1fr 1fr;
    }

    .pricing-box-wrap .pricing-box .price-box-features {
        max-width: 43%;
    }
}

@media only screen and (min-width:460px) and (max-width:575px) {
    .testimonial-wrap::before {
        height: 180px !important;
    }
}

@media only screen and (min-width:320px) and (max-width:575px) {
    .hero-wrap .hero-content .hero-promo-text {
        display: block;
        padding: 10px 25px;
        text-align: center;
        font-size: 13px;
    }

    .hero-wrap .hero-v2,
    .hero-wrap .hero-slider-v1 .hero-slider-item {
        padding: 120px 0 120px;
    }

    .hero-wrap .hero-content h1 {
        font-size: 34px;
    }

    .pricing-box-wrap .pricing-box .price-box-features {
        max-width: 46%;
    }

    .feature-box-wrap.v3 {
        grid-template-columns: 1fr;
    }

    .promo-box-wrap.v2 {
        grid-template-columns: 1fr;
    }

    .promo-box-wrap.v3 .promo-img {
        height: 250px;
    }

    .testimonial-wrap::before {
        height: 215px;
    }

    .footer-wrap .footer-bottom .footer-bottom-menu li {
        display: block;
    }

    .footer-wrap .footer-bottom .footer-bottom-menu li::before {
        display: none;
    }

    .copyright-text,
    .footer-wrap .footer-bottom .footer-bottom-menu {
        margin: 0 0 10px;
    }

    .product-next {
        right: -10px;
    }

    .product-prev {
        left: -10px;
    }

    .add-wishlist span,
    .add-cart span {
        display: none;
    }

    .add-cart button i,
    .add-wishlist button i {
        margin-right: 0;
    }

    .coupon-box .form-group {
        width: 100%;
    }

    .coupon-box button {
        width: 100%;
        display: block;
        margin: 25px 0 0;
    }

    .form-group .or::before,
    .form-group .or::after {

        width: 35%;
    }

    .service-details-img,
    .faq-img {
        height: 310px;
    }

    .service-slider .swiper-slide-active .service-box {
        box-shadow: none;
    }

}

@media only screen and (max-width:376px) {
    .btn {
        font-size: 13px;
        padding: 10px 20px;
    }

    .hero-wrap .hero-content .hero-promo-text span {
        padding: 10px 15px;
        font-size: 12px;
    }

    .service-box .service-info h4 {
        margin: 15px 0 10px;
        font-size: 22px;
    }

    .partner-item {
        padding: 0;
    }

    .pricing-box-wrap .pricing-box .price-box-features {
        max-width: 60%;
    }

    .payment-switch-wrap h5 {
        font-size: 16px;
    }

    .payment-switch-wrap .toggle-switch label {
        width: 50px;
        height: 28px;
    }

    .payment-switch-wrap .toggle-switch label::after {
        top: 3px;
        left: 5px;
        width: 22px;
        height: 22px;
    }

    .payment-switch-wrap .toggle-switch {
        margin: 0px 12px;
    }

    .portfolio-slider .portfolio-item .portfolio-info h4 {
        font-size: 16px;
    }

    .counter-box-wrap .counter-text .counter-value {
        font-size: 30px;
        margin: 10px 0 5px;
    }

    .counter-box-wrap .counter-text p {
        font-size: 14px;
    }

    .blog-meta ul li a {
        font-size: 12px;
    }

    .blog-item .blog-opt .post-share span {
        margin-right: 5px;
        font-size: 15px;
    }

    .blog-item .blog-opt .link {
        font-size: 15px;
    }

    .wp-block-quote p {
        font-size: 18px;
        line-height: 28px;
    }

    .wp-block-quote {
        padding: 40px 20px 10px;
    }

    .wp-block-quote i {
        left: 8px;
    }

    .social-profile li a {
        font-size: 14px;
    }

    .newsletter-wrap .newsletter-box .newsletter-box-right .newsletter-form button {
        width: 100%;
        position: relative;
        padding: 16px 20px;
        font-size: 15px;
    }

    .newsletter-wrap .newsletter-box .newsletter-box-right .newsletter-form input {
        padding: 10px 18px 10px 18px;
    }

    .breadcrumb-wrap .breadcrumb-title h2 {
        font-size: 26px !important;
    }

    .payment-switch-wrap h5 {
        font-size: 15px;
    }

    .service-box {
        margin: 0;
    }

    .form-group .or::before,
    .form-group .or::after {
        width: 25% !important;
    }

    .comment-box-title-left,
    .comment-box-title-right {
        width: 100%;
    }

}