/*---------------------------
    Service Section CSS
----------------------------*/
.service-bg-1{
    background-image: url(../img/service/service-2.jpg);
}
.service-slider.swiper-container {
    padding: 0 5px 30px;
}

.service-wrap .dots-pagination {
    bottom: 0px;
}

.service-box {
    margin: 0 0 30px;
    border-radius: 5px;
    border: 1px solid $clr_titan;

    .service-img {
        background-color: $clr_white;
        box-shadow: 0 0 10px rgb(112, 112, 112, 0.2);
        border-radius: 5px 5px 0 0;

        img {
            border-radius: 5px 5px 0 0;
        }
    }

    .service-info {
        padding: 0 25px 20px;

        h4 {
            line-height: 1.3;
            margin: 18px 0 13px;


            a {
                color: $clr_biscay;

            }
        }
        p{
                margin: 0 0 12px;
            }

    }
}

.service-slider {
    .swiper-slide-active {
        .service-box {
            box-shadow: 0 0 20px rgb(112, 112, 112, 0.2);

            &.v2 {
                box-shadow: 0 0 20px rgb(112, 112, 112, 0.2);

                .service-img {
                    box-shadow: none;
                }
            }

            .service-img {
                box-shadow: none;
            }

        }
    }
}


    .service-box {
        &.v2 {
            box-shadow: 0 0 20px rgb(112, 112, 112, 0.2);
            margin: 0 0 30px;
            .service-img {
                box-shadow: none;
                padding-bottom: 0;
            }
        }

    }

/*-----------------------------------
        Service Details
-----------------------------------*/
.faq-bg-1 {
    background-image: url(../img/service/service-1.jpg);
}

.faq-img {
    height: 500px;
}

.service-details-text {
    margin: 0 0 20px;

    .service-details-title {
        font-size: 40px;
        line-height: 1.4;
        margin: 0 0 15px;

    }

}



.service-features {

    li {
        position: relative;
        padding-left: 26px;
        font-weight: 500;
        line-height: 26px;
        margin: 0 0 13px;

        &:last-child {
            margin: 0;
        }

        i {
            position: absolute;
            top: 3px;
            left: 0;
            font-size: 18px;
            color: $clr_corn_blue;
        }
    }
}


.service-details-img {
    position: relative;
    height: 500px;

    .service-dt-shape-one {
        position: absolute;
        top: -30px;
        left: 0px;
        z-index: -1;
    }

    .service-dt-shape-two {
        position: absolute;
        bottom: -30px;
        right: 0px;
        z-index: -1;
    }


    .service-img-one {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 90%;
        border-radius: 5px;
    }

    .service-img-two {
        position: absolute;
        bottom: -30px;
        left: -30px;
        max-width: 70%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    }
}