/*---------------------------------
        Shop CSS 
-----------------------------------*/
.ui-slider-handle.ui-corner-all.ui-state-default {
    background: $clr_corn_blue;
    border-radius: 4px;
    border-color: transparent;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
    background: $clr_corn_blue;
    border-color: transparent;
}

#slider-range_one {
    border-color: transparent;
    border-radius: 50px;
    height: 10px;
}

#amount_one {
    border: none;
    background: transparent;
}

.sidebar-widget.category-widget {
    padding: 25px 0 10px;

    h4 {
        padding: 0 30px;
    }
}

.product-category-list {
    li {
        &.has-subcat {
            cursor: pointer;

            &>a {
                position: relative;
                font-size: 16px;
                font-family: $secondary_font;
                font-weight: 500;
                display: block;
                color: $clr_nice_blue;
                padding: 15px 30px 15px;
                // box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05);
                border-bottom: 1px solid $clr_zircon;
                @include transition(0.3s);

                &.active,
                &:hover {
                    background-color: $clr_corn_blue;
                    color: $clr_white;
                    border-radius: 0px 10px 0px 10px;

                    &:before {
                        border-color: $clr_white;
                    }
                }

                &:before {
                    position: absolute;
                    top: 25px;
                    right: 30px;
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-left: 2px solid $clr_nice_blue;
                    border-bottom: 2px solid $clr_nice_blue;
                    @include transform(rotate(-135deg));
                    @include transition(0.3s);
                }

                span {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: $clr_peri;
                    color: $clr_corn_blue;
                    border-radius: 50%;
                    text-align: center;
                    border: 50%;
                    font-size: 10px;
                    line-height: 17px;
                    margin-left: 10px;
                    position: relative;
                    top: -2px;
                }
            }

            .subcategory {
                display: none;
            }

            &.open {
                a {
                    &:before {
                        @include transform(rotate(-45deg));
                    }
                }
            }

        }
    }
}

.sidebar-widget.recent-post h4 {
    margin-bottom: 13px;
}

.sidebar-widget.category-widget h4 {
    margin: 0 30px 0px;
    border-bottom: 1px solid #ddd;
    padding: 0 0 20px !important;
}

.has-subcat .has-subcat>a .subcategory {
    margin-left: 15px;
}

.subcategory li a {
    padding: 15px 10px 15px 10px;
    border-bottom: 1px solid $clr_peri;
    display: block;
    margin: 0 28px 0 45px;
}

.subcategory li a:hover {
    color: $clr_corn_blue;
    border-color: $clr_corn_blue;
}

.profuct-result {
    p {
        color: $clr_nice_blue;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }
}

.filter-item-num,
.filter-item-cat {
    .nice-select {
        width: 100%;
        border-radius: 50px;
        border: 1px solid #777AF2;
        padding: 0 10px 0 20px;
        color: $clr_black;

        &::after {
            right: 20px;
            border-color: #777AF2;
            border-width: 1px;
        }
    }
}

.product-item-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}



/*------Single Product Description-------*/

.product-large-img {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 0 30px;

    img {
        border-radius: 5px;
    }
}

.product-thumb {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;

}

.single-product-title {
    position: relative;

    h2 {
        font-size: 40px;
        color: $clr_black;
        font-weight: 700;
        line-height: 1.2;
        margin: 0;
    }

    h3 {
        font-size: 24px;
        line-height: 1.2;
        font-family: $primary_font;
        font-weight: 400;
        margin: 12px 0;

        span {
            &.discount {
                text-decoration: line-through;
                color: $clr_ash;
            }
        }
    }

}

.single-product-desc {
    border-bottom: 0.5px solid rgb(69, 69, 70, 0.2);

    p {
        opacity: 0.7;
        margin: 0 0 20px;
    }
}

.single-product-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 20px;

    .single-product-review-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .rating {
            margin: 0;

            li {
                i {
                    font-size: 20px;
                }
            }
        }

        span {
            color: $clr_nice_blue;
            font-size: 22px;
            margin-left: 6px;
            position: relative;
            top: -2px;
        }
    }

    .single-product-review-right {
        width: 40%;
        text-align: right;
    }
}


.wishlist-table {
    .table {
        tbody {
            vertical-align: middle;
        }
    }

    .new-product-item {
        max-width: 300px;

        .new-product-img {
            width: 100px;
            height: 100px;
        }

        .new-product-info {
            width: calc(100% - 115px);
            margin-left: 15px;

            h6 {
                font-size: 20px;
                line-height: 20px;
            }

            p {
                font-size: 14px;
                line-height: 22px;
                margin: 0;
            }
        }
    }

    .delete {
        width: 40px;
        height: 40px;
        background: $clr-titan;
        border-radius: 50%;
        border: none;
        color: $clr_nice_blue;
        text-align: center;
        padding: 0;
        font-weight: 700;
        font-size: 23px;
    }
}

.table thead tr th,
.table tbody tr td {
    text-align: center;

    h5 {
        margin: 0;
    }
}

.table thead tr th:nth-child(1),
.table tbody tr td:nth-child(1) {
    text-align: left;
}

.wh_qty .product-quantity {
    margin: 0 auto;
}

.wh_qty .product-quantity .qtySelector input {
    left: 0;

}

.table> :not(caption)>*>* {
    padding: 1.5rem 0.5rem;
}

.table> :not(:last-child)> :last-child>* {
    border-bottom-color: #ddd;
}

.wh-tem-price {
    color: $clr_corn_blue;
    font-weight: 600;
    margin: 0;
}

.coupon-wrap {
    background: $clr_titan;
    padding: 30px;
    margin: 30px 0 0;

    h4 {
        margin: 0 0 20px;
    }
}

.coupon-box {
    position: relative;
    background: $clr_white;
    padding: 50px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #D2D3FF;

    .form-group {
        position: relative;
        width: 68%;

        input {
            width: 100%;
            height: 50px;
            background: $clr_titan;
            border: none;
            padding: 10px 15px;
        }


    }

    button {
        width: 28%;
        background: $clr_corn_blue;
        border-radius: 50px;
        color: $clr_white;
        border: none;
        padding: 10px 5px;
    }
}

.coupon-box-wrap .order-details-box,
.payment-method {
    border: 1px solid #D2D3FF;
    border-radius: 5px;
    background: #fff;
}

.coupon-wrap .btn.v5 {
    margin: 25px 0 0;
}

.single-product-option s {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product-quantity {
    width: 155px;
}

.product-quantity {
    margin-right: 10px;

    .qtySelector {
        position: relative;

        span {
            width: 38px;
            position: absolute;
            top: 0;
            border: none;
            cursor: pointer;
            display: block;
            text-align: center;
            line-height: 38px;
            font-size: 18px;
            color: #1A3150;
            height: 38px;
            border-radius: 50%;
            background: #F1F1FD;

            &.decreaseQty {
                left: 0;
            }

            &.increaseQty {
                right: 0;
            }

        }

        input {
            width: calc(100% - 96px);
            background: #F1F1FD;
            border: none;
            left: 48px;
            position: relative;
            height: 38px;
            top: -1px;
            text-align: center;
            color: $clr_nice_blue;
            border-radius: 50px;
        }

    }
}

.add-cart,
.add-wishlist {
    button {
        height: 48px;
        font-weight: 400 !important;

        i {
            margin-right: 10px;
            position: relative;
            top: 1px !important;
        }

        &.v3 {
            border-color: rgba(0, 0, 0, 0.2);
        }
    }
}

.add-cart button.btn {
    margin-right: 10px;
}

.single-product-checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 22px 0;

    .checkbox {
        margin-right: 20px;

        &.form-group {
            label {
                font-size: 16px;
                line-height: 26px;
                padding-left: 19px;

                &:before {
                    width: 14px;
                    height: 14px;
                    padding: 0;
                    border: 1px solid $clr_red;
                    box-shadow: none;
                    position: absolute;
                    top: 6px;
                    left: 0;
                }
            }
        }
    }

}

.single-product-checkbox .form-group.checkbox input:checked+label::after {
    top: 8px;
    left: 5px;
    width: 4px;
    height: 9px;
    border: solid $clr_corn_blue;
    border-width: 0 1px 1px 0;
}

.accordion-button:not(.collapsed) {
    color: $clr_black;
    background-color: transparent;
}

.accordion-item {
    border: none;
    margin: 0 0 15px;
    padding: 0 20px 0;
    background: $clr_zircon;

    &:last-child {
        margin: 0;
    }

    .accordion-header {


        .accordion-button {
            margin: 0;
            padding: 20px 10px 20px 25px;
            font-size: 18px;
            line-height: 30px;
            font-family: $secondary_font;
            font-weight: 500;
            border-radius: 0;
            border: none;
            text-align: left;
            align-items: flex-start;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

}

.accordion-collapse {
    border: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: rotate(-90deg);
    top: 22px;
    left: -4px;
}

.accordion-button::after {
    content: "\f107";
    background-image: none;
    font-family: 'Line Awesome Free';
    font-weight: 700;
    font-size: 14px;
    left: 0;
    right: auto;
    position: absolute;
    top: 20px;
    left: 0;
}

.accordion-button[aria-expanded="true"] {
    color: $clr_corn_blue;
}

.accordion-body {
    padding: 18px 0 22px;
    margin: 0 22px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion-body p {
    margin: 0;

}

.additional-info {
    li {
        margin: 0 0 10px;

        &:last-child {
            margin-bottom: 0;
        }

        p {
            span {
                width: 100px;
                font-weight: 600;
                display: inline-block;
            }
        }
    }
}

.product-reviews-item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 20px;

    &:last-child {
        margin: 0;
    }
}

.reviewer_img {
    width: 90px;
    height: 100px;
}

.reviewer_text {
    width: calc(100% - 110px);
    margin-left: 20px;

    p {
        font-size: 14px;
        line-height: 24px;
        opacity: 0.7;
        margin: 0;
    }
}

.reviewer_info {
    margin: 0 0 8px;

    h6,
    p {
        display: inline-block;
    }

    h6 {
        line-height: 21px;
        margin: 0 25px 0 0;
        font-family: $primary_font;
        font-size: 16px;
        font-weight: 600;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        margin: 0;
        opacity: 0.7;
    }
}

.review-form-title {
    background: $clr_black;
    padding: 15px;
    margin: 0 0 20px;

    h6 {
        color: $clr_white;
        font-family: $primary_font;
        color: $clr_white;
        line-height: 21px;
        margin: 0;
        font-weight: 600;
    }
}


.review-form-title {
    background: $clr_corn_blue;
    padding: 15px;
    margin: 0 0 20px;

    h6 {
        color: $clr_white;
        font-family: $primary_font;
        color: $clr_white;
        line-height: 21px;
        margin: 0;
        font-weight: 600;
    }
}

.review-form {
    .form-group {
        margin: 0 0 15px;

        input {
            width: 100%;
            height: 50px;
            border: none;
            background: $clr_titan;
            border-radius: 5px;
            padding: 10px 15px
        }

        textarea {
            width: 100%;
            height: 115px;
            border: none;
            background: $clr_titan;
            border-radius: 5px;
            padding: 10px 15px;
            resize: none;
        }

        &.checkbox {
            input {
                display: none;
            }

            label {
                position: relative;
                font-size: 14px;
                line-height: 21px;
                color: rgba(0, 0, 0, 0.8);
                padding-left: 20px;

                &:before {
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    border: 1px solid $clr_red;
                    left: 0;
                    top: 3px;
                    padding: 0;
                }
            }
        }
    }

}

.review-form .form-group.checkbox label::before {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #E31C25;
    left: 0;
    top: 3px;
    padding: 0;
}

.review-form .form-group.checkbox input:checked+label::after {
    top: 6px;
    left: 3px;
    width: 8px;
    height: 8px;
    border: none;
    background-color: $clr_red;
    border-radius: 50%;
    transform: rotate(0deg);
}

.review-form .form-group.checkbox input:checked+label::after {
    top: 6px;
    left: 3px;
    width: 8px;
    height: 8px;
    border: none;
    background-color: $clr_red;
    border-radius: 50%;
    transform: rotate(0deg);
}

.add-to-wishlist button:hover {
    background: $clr_corn_blue;
    color: $clr_white;
}

.rating {
    margin: 0 auto;
    display: block;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 2px;

        i {
            font-size: 20px;
            color: $clr_corn_blue;
        }
    }
}

.single-product-option {
    display: flex;
    align-items: center;
}

.single-product {
    border: 1px solid #D2D3FF;
    padding: 25px;
    border-radius: 5px;
    position: relative;

    .product-name-wrap {
        @extend %flex_start;

        .product-name {
            h5 {
                margin: 0;

                a {
                    color: $clr_nice_blue;
                }
            }

            span {
                font-size: 14px;
            }
        }

        .add-to-wishlist {
            button {
                background: #F2F2FF;
                border: none;
                color: $clr_corn_blue;
                width: 32px;
                height: 32px;
                text-align: center;
                padding: 0;
                border-radius: 5px;
                font-size: 15px;
                line-height: 34px;
                font-weight: 500
            }
        }
    }

    .product-img {
        position: relative;
        margin: 15px 0 15px;

        .product-img-bg {
            position: absolute;
            bottom: 0;
            left: 0;
            color: "";
            background: #D2D3FF;
            width: 100%;
            height: 50%;
            z-index: -1;
            border-radius: 5px;
        }

        img {
            margin: 0 auto;
            display: block;
        }

        .product-user-option {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(133, 135, 244, 0.9);
            text-align: center;
            border-radius: 5px;
            visibility: hidden;
            opacity: 0;
            @include transition(0.3s);

            button {
                display: inline-block;
                background: #fff;
                width: 48px;
                height: 48px;
                border: none;
                border-radius: 5px;
                margin: 0 5px;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                i {
                    color: $clr_corn_blue;
                    font-size: 25px;
                    line-height: 17px;
                }
            }
        }
    }

    .product-price {
        text-align: center;
        margin: 10px 0 0;

        span {
            font-size: 24px;
            font-weight: 500;
            color: $clr_nice_blue;
            font-family: $secondary_font;

            &.discount {
                text-decoration: line-through;
                color: $clr_ash;
                margin-left: 7px;
            }
        }
    }

    &:hover {
        .product-img {
            .product-user-option {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

/*------New Product-------*/

.new-product-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 20px;

    &:last-child {
        margin: 0;
    }

    .new-product-img {
        width: 70px;
        border: 1px solid #D2D3FF;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        height: 70px;

        img {
            margin: 0 auto;
            display: block;
        }
    }

    .new-product-info {
        width: calc(100% - 95px);
        margin-left: 15px;

        h6 {
            margin: 0 0 5px;

            a {
                color: $clr_purs_blue;
            }
        }

        span {
            color: $clr_corn_blue;
            font-size: 14px;

            &.discount {
                text-decoration: line-through;
                margin-left: 5px;
                color: $clr_ash;

            }
        }
    }

}

/*--------------------------------
    CheckOut Page CSS
---------------------------------*/

.checkout-form {
    h5 {
        color: $clr_corn_blue;
        margin: 0 0 20px;
    }

    .form-group {
        margin: 0 0 20px;

        textarea,
        input {
            width: 100%;
            border: 1px solid #D2D3FF;
            border-radius: 5px;
            padding: 12px 20px;

            &::placeholder {
                color: #999;
            }
        }

        input {
            height: 50px;
        }

        textarea {
            height: 100px;
            resize: none;
        }

        .nice-select {
            width: 100%;
            height: 50px;
            margin: 0 0 20px;
            border: 1px solid #D2D3FF;
            border-radius: 5px;
            padding-left: 20px;

            &:after {
                border-color: $clr_corn_blue;
                right: 18px;
            }
        }
    }
}

.order-details {
    h5 {
        color: $clr_corn_blue;
        margin: 0 0 20px;
    }
}

.order-details-header {
    @extend %flex_between;
    background: $clr_corn_blue;
    padding: 15px 20px;
    border-radius: 5px 5px 0 0;

    h5 {
        color: $clr_white;
        margin: 0;
        border-radius: 5px 5px 0 0;
    }
}

.order-details-box,
.payment-method {
    border: 1px solid #D2D3FF;
    border-radius: 5px;
}

.order-item-details,
.order-subtotal {
    margin: 10px 20px 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #D2D3FF;
    @extend %flex_between;

    p {
        margin: 0;
    }
}

.order-total {
    @extend %flex_between;
    padding: 15px 20px;

    h5 {
        margin: 0;
    }
}


.payment-mehod input[type="radio"]:checked+label::before,
.payment-mehod input[type="radio"]:not(:checked)+label::before {

    border-color: $clr_red;
}

.payment-mehod input[type="radio"]:checked+label,
.payment-mehod input[type="radio"]:not(:checked)+label {
    color: $clr_black;
    font-weight: 500;
    font-size: 14px;
}

.payment-method {
    border-radius: 5px;
    margin: 20px 0 0;

    h5 {
        margin: 0;
        color: $clr_white;
        background: $clr_corn_blue;
        padding: 15px 20px;
        border-radius: 5px 5px 0 0;
    }

    .select-checkbox {
        padding: 18px 20px;

        div {
            margin: 0 0 4px;

            &:last-child {
                margin: 0;
            }

            label {
                cursor: pointer;
            }
        }
    }
}

.order-btn {
    display: block;
    width: 100%;
    background: $clr_corn_blue;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: $clr_white;
}

.product-slider-wrap {
    position: relative;
}

.product-next,
.product-prev {
    width: 40px;
    height: 40px;
    background: #777AF2;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

.product-prev {
    left: -20px;
}

.product-next {
    right: -20px;
}


.product-prev i,
.product-next i {
    color: #fff;
    line-height: 42px;
}