/*---------------------------------
        Testimonial CSS 
-----------------------------------*/
.testimonial-wrap {
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background: $clr_corn_blue;
        width: 45%;
        height: 100%;
    }

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        background: #F9FAFF;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .testimonial-text {
        position: relative;

        .client-avatar-1,
        .client-avatar-2,
        .client-avatar-3,
        .client-avatar-4 {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;

            img {
                border-radius: 50%;
            }
        }

        .client-avatar-1 {
            top: 20px;
            left: 60px;
        }

        .client-avatar-2 {
            top: 60px;
            right: 30px;
        }

        .client-avatar-3 {
            bottom: 10px;
            left: 30px;
        }

        .client-avatar-4 {
            bottom: 20px;
            right: 60px;
        }
    }

    .testimonial-item {

        .client-info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            .client-img {
                width: 62px;
                height: 62px;
                border-radius: 50%;
                border: 2px solid $clr_nice_blue;

                img {
                    border-radius: 50%;
                }
            }

            .client-name {
                width: calc(100% - 80px);
                margin-left: 17px;

                p {
                    font-size: 16px;
                    color: $clr_nice_blue;
                    font-weight: 500;
                    margin: 0;
                    line-height: 1;
                }

                span {
                    color: $clr_corn_blue;
                    font-size: 14px;
                }
            }
        }
    }

}

.quote-icon {
    position: absolute;
    top: -15px;
    left: 0;
    z-index: -1;
    opacity: 0.15;

    i {
        color: $clr_corn_blue;
        font-size: 60px;
        margin: -20px 0 8px;
    }
}

.testimonial_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: -45px 0 0;
    z-index: 9;
    position: relative;

    .testimonial-next {
        margin-left: 5px;
    }

    .testimonial-next,
    .testimonial-prev {
        background: $clr_corn_blue;
        width: 45px;
        height: 45px;
        text-align: center;

        i {
            color: #fff;
            font-size: 24px;
            line-height: 44px;
        }
    }
}

.client-quote p {
    letter-spacing: 1px;
    margin: 0 0 28px;
}