/*---------------------------------
      General Css For RTL Version 
-----------------------------------*/
input {
    text-align: right;
}

.link i {
    margin-left: 0;
    margin-right: 5px;
}

.section-title span {
    padding: 10px 35px 8px 18px;
}

.section-title span::before {
    left: 0;
    right: 15px;
}

.nice-select,
.nice-select .list li {
    text-align: right !important;
}

.nice-select::after {
    left: 0;
    right: auto !important;
}

.filter-item-cat .nice-select:after,
.filter-item-num .nice-select:after {
    left: 12px;
}

/*---------------------------------
         Header CSS 
-----------------------------------*/
.header-wrap .header-top .header-top-left p {
    margin: 0 0 0 20px;
    padding: 0 0 0 10px;
}

.header-wrap .header-top .header-top-left p::after {
    left: -8px;
    right: auto;
}

.header-wrap .header-bottom {
    padding: 0;
}

.header-wrap .header-top .header-top-left p i {
    margin-right: 0;
    margin-left: 8px;
}

.header-wrap .header-top .header-top-left a i {
    margin-right: 0;
    margin-left: 10px;
}

.searchBtn {
    margin-right: 0;
    margin-left: 20px;
}

.searchBtn i.rotate,
.rotate i {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}


.social-profile.v1 li::before {
    right: -15px;
}

.social-profile li:first-child {
    margin-left: 13px;
    margin-right: 0;
}

/*---------------------------------
         Hero CSS 
-----------------------------------*/
.hero-wrap .hero-content .hero-btn a:nth-child(1) {
    margin-right: 0;
    margin-left: 20px;
}

.exp-box {
    float: left;
    left: -40px;
    right: auto;
}

.exp-box .icon {
    right: auto;
    left: -10px;
}

.breadcrumb-wrap .breadcrumb-title ul li i {
    margin-left: 0;
    margin-right: 5px;
}

/*---------------------------------
         Feature CSS 
-----------------------------------*/
.feature-box-wrap .feature-box .feature-box-num {
    left: 30px;
    right: auto;
}

/*---------------------------------
         Promo CSS 
-----------------------------------*/
.promo-box-wrap.v1 {
    padding-left: calc((50% - 1410px / 2 + 10px));
    padding-right: 0;
}

.promo-box-wrap.v1 .promo-box::before {
    right: 0;
    left: auto;

}

.promo-box-wrap.v1 .promo-box {
    padding: 30px 35px 30px 0px;
}

.promo-box-wrap .promo-box .promo-text {
    margin-left: 0;
    margin-right: 25px;
}

.about-features li i {
    left: auto;
    right: 0;
}

.about-features li {
    padding-left: 0;
    padding-right: 30px;
}

.cta-btn a {
    padding: 10px 75px 10px 25px;
    text-align: right;
}

.cta-btn a i {
    left: auto;
    right: 19px;
}


/*---------------------------------
         Pricing CSS 
-----------------------------------*/
.pricing-box-wrap .pricing-box .price-box-features li i {
    left: auto;
    right: 0;
}

.pricing-box-wrap .pricing-box .price-box-features li {
    padding: 5px 25px 5px 0;
}

.service-features li i {
    left: auto;
    right: 0;
}

.service-features li {
    padding-left: 0;
    padding-right: 26px;
}

.project-details-item h6 {
    margin: 0 0 0 10px;
}

/*---------------------------------
         Testimonials CSS 
-----------------------------------*/
.testimonial-wrap::before {
    left: auto;
    right: 0;
}

.testimonial-slider {
    margin-right: 50px;
    margin-left: 0;
}

.testimonial_btn .testimonial-next {
    margin-left: 0;
    margin-right: 5px;
}

.testimonial-wrap .testimonial-item .client-info .client-name {
    margin-left: 0;
    margin-right: 17px;
}

.quote-icon {
    left: 0;
    right: 0;
}

/*---------------------------------
         Blog CSS 
-----------------------------------*/
.blog-meta ul::before {
    left: 0;
    right: 15px;
}

.blog-meta ul {
    padding: 5px 30px 5px 20px;
}

.blog-meta ul li:first-child {
    border-right: none;
    border-left: 1px dashed #1A3150;
}

.blog-meta ul li a i {
    margin-left: 5px;
    margin-right: 0;
}

.blog-meta ul li:last-child {
    padding-right: 8px;
}

.pp-post-item .pp-post-info {
    margin-left: 0;
    margin-right: 20px;
}

.post-share {
    text-align: left;
}

.post-share span {
    margin-right: 0;
    margin-left: 8px;
}

.post-share .social-profile li:first-child {
    margin-left: 6px;
    margin-right: 0;
}

.post-feature-list li {
    padding-left: 25px;
    padding-right: 25px;
}

.post-feature-list li img {
    left: auto;
    right: 0;
}

.post-author .post-author-info {
    margin-left: 0;
    margin-right: 20px;
}

/*---------------------------------
         Footer CSS 
-----------------------------------*/
.footer-wrap .footer-top .footer-widget .footer-contact-info .contact-item a i {
    right: 0;
    left: auto;
}

.footer-wrap .footer-top .footer-widget .footer-contact-info .contact-item a {
    padding-right: 26px;
    padding-left: 0;
}

.footer-wrap .footer-top .footer-widget .footer-menu li a {
    position: relative;
}

.footer-wrap .footer-top .footer-widget .footer-menu li a i {
    position: absolute;
    top: 7px;
    right: 0;
    margin: 0;
}

.footer-wrap .footer-top .footer-widget .footer-menu li a {
    padding-right: 20px;
}

.footer-wrap .footer-bottom .footer-bottom-menu {
    text-align: left;
}

.footer-wrap .footer-bottom .footer-bottom-menu li::before {
    left: auto;
    right: -15px;
    transform: skew(18deg);
}

.footer-wrap .footer-bottom .footer-bottom-menu li:last-child {
    margin-right: 13px;
    margin-left: 0;
}

.newsletter-wrap .newsletter-box .newsletter-box-right .newsletter-form button {
    right: auto;
    left: 3px;

}

.newsletter-wrap .newsletter-box .newsletter-box-right .newsletter-form button i {
    margin-left: 0;
    margin-right: 10px;
    top: 0px;
}

.newsletter-wrap .newsletter-box::before {
    right: auto;
    left: -55%;
    transform: skew(-25deg);
}

.newsletter-wrap .newsletter-box .newsletter-box-right .newsletter-form input {
    padding: 10px 18px 10px 160px;
}

.contact-info-box .contact-item {
    padding-left: 0;
    padding-right: 35px;
}

.contact-info-box .contact-item a i {
    left: auto;
    right: 0;
}

/*---------------------------------
         Shop CSS 
-----------------------------------*/
.accordion-item .accordion-header .accordion-button {
    background: #F9FAFF;
}

.product-category-list li.has-subcat>a::before {
    right: auto;
    left: 30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);

}

.subcategory li a {
    margin: 0 45px 0 28px;
}

.new-product-item .new-product-info {
    margin-left: 0;
    margin-right: 15px;
}

.product-quantity {
    margin-right: 0;
    margin-left: 10px;
}

.product-quantity .qtySelector input {
    left: auto;
    right: 48px;
}

.add-cart button.btn {
    margin-right: 0;
    margin-left: 10px;
}

.wh_qty .product-quantity .qtySelector input {
    left: auto;
    right: 0;
}

.wishlist-table .new-product-item .new-product-info {
    margin-right: 15px;
    margin-left: 0;
}

.table thead tr th:nth-child(1),
.table tbody tr td:nth-child(1) {
    text-align: right;
}

.checkout-form .form-group .nice-select:after {
    left: 10px;
}

.form_group label::before {
    left: auto;
    right: 0;
}

.form_group label::after {
    left: auto;
    right: 10px;
}
.form_group label {
    padding-left: 0;
    padding-right: 25px;
}
/*---------------------------------
         Responsive CSS 
-----------------------------------*/
@media only screen and (min-width:1200px) and (max-width:1439px) {
    .exp-box {
        right: auto;
        left: 1px;
    }
}

@media only screen and (min-width:1200px) {
    .hero-wrap .hero-content p {
        padding-right: 0;
        padding-left: 100px;
    }

    .about-wrap.v3 .about-video {
        margin-left: 0;
        margin-right: 30px;
    }
}

@media only screen and (min-width:992px) {
    #menu>ul>li {
        padding: 0;
    }

    #menu ul li a {
        margin: 0;
        padding: 30px 22px;
        display: inline-block;
    }

    #menu>ul>li.has-children>a::before {
        right: auto;
        left: 6px;
        top: 40px;
    }

    #menu ul li.has-children .sub-menu {
        left: auto;
        right: -7px;
        text-align: right;
    }

    #menu ul li.has-children .sub-menu li {
        text-align: right;
    }

    #menu ul li.has-children:hover>.sub-menu {
        top: 87px;
    }

    #menu ul>.has-children>.sub-menu>.has-children>.sub-menu {
        left: auto;
        right: 100%;
    }

    #menu>ul>li.has-children>.sub-menu>.has-children>a::after {
        right: auto;
        left: 0;
    }

    #menu>ul>li.has-children>.sub-menu>.has-children>a::after {

        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@media only screen and (min-width:991px) and (max-width:1199px) {
    .searchBtn {
        margin-right: 0;
        margin-left: 5px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .promo-box-wrap.v1 {
        padding: 35px 15px 38px;
    }

    .pricing-box-wrap .pricing-box .price-box-features li i {
        right: 0px;
    }

    .pricing-box-wrap .pricing-box .price-box-features li {
        text-align: center;
    }
}

@media only screen and (max-width:991px) {
    .mobile-bar-wrap {
        text-align: left;
        top: 4px;
    }

    .searchBtn,
    .mobile-top-bar i {
        margin-right: 0;
        margin-left: 10px;
    }

    .main-menu li span.menu-expand {
        right: auto;
        left: 0;
    }

    .main-menu li ul.sub-menu {
        padding-left: 0;
        padding-right: 20px;
    }

    .header-top {
        padding: 50px 5px;
    }

    .header-wrap .header-top .header-top-left p {
        padding: 0;
    }

    .header-wrap .header-top .header-top-left p,
    .header-wrap .header-top .header-top-left a {
        margin: 0 0 10px;
    }

    .social-profile li:first-child {
        margin-left: 13px;
        margin-right: 0;
    }

    .lang_selctor .nice-select {
        text-align: right !important;
    }

    .lang_selctor .nice-select::after {
        left: 12px;
        right: auto;
    }

    .lang_selctor .nice-select .list .option {
        text-align: right;
    }

    .promo-box-wrap.v1 .promo-box {
        padding: 30px 15px 25px;
    }

    .promo-box-wrap .promo-box .promo-text {
        margin-left: 0;
        margin-right: 0;
    }

    .footer-wrap .footer-bottom .footer-bottom-menu {
        text-align: center;
        margin: 0 0 5px;
    }

    .testimonial-slider {
        margin-right: 0;
        margin-left: 0;
    }

}

@media only screen and (max-width:767px) {
    .footer-wrap .footer-bottom .footer-bottom-menu li {
        margin: 0;
    }

    .section-title span::before {
        top: 13px;
    }

    .post-share.w-100 {
        text-align: right;
    }
}

@media only screen and (max-width:575px) {
    .footer-wrap .footer-bottom .footer-bottom-menu li a {
        margin-bottom: 5px;
    }

    .footer-wrap .footer-bottom .footer-bottom-menu li:last-child a {
        margin-bottom: 0;
    }
}

@media only screen and (max-width:375px) {

    .searchBtn,
    .mobile-top-bar i {
        margin-right: 0;
        margin-left: 6px;
    }

    .blog-item .blog-opt .post-share span {
        margin-left: 5px;
        margin-right: 0;
        font-size: 14px;
    }
}