/*-------------------------------
    Dark Theme  CSS
-------------------------------*/
.switch-theme-mode {
  position: fixed;
  top: 200px;
  right: 20px;
  z-index: 99;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0px 15px #2020203d;
          box-shadow: 0 0px 15px #2020203d;
  background: white url("../img/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #000;
          box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
  background: white url("../img/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

/*---------------------------------
    Color CSS For Elements 
-----------------------------------*/
.theme-light .logo .logo-dark {
  display: none !important;
}

.theme-light .logo .logo-light {
  display: block !important;
}

.theme-dark .dpt-100 {
  padding-top: 100px;
}

.theme-dark .dpb-100 {
  padding-bottom: 100px;
}

.theme-dark .logo .logo-light {
  display: none !important;
}

.theme-dark .logo .logo-dark {
  display: block !important;
}

.theme-dark .td-cod,
.theme-dark .bg-mirage,
.theme-dark .testimonial-wrap::after,
.theme-dark .cta-wrap::before,
.theme-dark .feature-box-wrap.v3 .feature-box .feature-box-icon-wrap,
.theme-dark .footer-wrap.v1 .footer-top {
  background-color: #111;
}

.theme-dark body,
.theme-dark .td-black,
.theme-dark .bg-white,
.theme-dark .header-wrap .header-top,
.theme-dark .pricing-wrap.v2.bg-mirage,
.theme-dark #slider-range_one,
.theme-dark .blog-meta ul {
  background-color: #000 !important;
}

.theme-dark .td-aztech,
.theme-dark .bg-vista-white,
.theme-dark .btn.v2,
.theme-dark .header-wrap .header-bottom,
.theme-dark .section-title span,
.theme-dark .pricing-box-wrap .pricing-box,
.theme-dark .counter-box-wrap,
.theme-dark .testimonial-wrap::before,
.theme-dark .blog-item,
.theme-dark .post-details .blog-meta ul,
.theme-dark .newsletter-wrap .newsletter-box,
.theme-dark .promo-box-wrap.v2 .promo-box,
.theme-dark .footer-wrap.v1 .footer-bottom,
.theme-dark .promo-box-wrap.v3 .promo-box,
.theme-dark .accordion-item,
.theme-dark .accordion-item .accordion-header .accordion-button,
.theme-dark .feature-box-wrap .feature-box {
  background-color: #0E1C1F !important;
}

.theme-dark .promo-box-wrap.v2 .promo-box:hover,
.theme-dark .btn.v2:hover {
  background-color: #777AF2 !important;
}

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6,
.theme-dark h3 a,
.theme-dark a,
.theme-dark .btn:hover,
.theme-dark .accordion-item .accordion-header .accordion-button,
.theme-dark .product-category-list li.has-subcat > a:hover,
.theme-dark .page-navigation .page-nav li a:hover,
.theme-dark .payment-method .select-checkbox div label,
.theme-dark .comment-form .form-group label {
  color: #fff !important;
}

.theme-dark p, .theme-dark span,
.theme-dark .checkbox label,
.theme-dark .form_group label,
.theme-dark .pricing-box-wrap .pricing-box .price-box-features li,
.theme-dark .about-features li,
.theme-dark .service-features li,
.theme-dark .post-feature-list li,
.theme-dark .comment-text,
.theme-dark .login-form .login-body .form-group label {
  color: rgba(255, 255, 255, 0.78) !important;
}

.theme-dark h3:hover a,
.theme-dark a:hover,
.theme-dark #menu > ul > li > a.active,
.theme-dark #menu > ul > li > a:hover,
.theme-dark #menu > ul > li.has-children ul li a.active,
.theme-dark #menu > ul > li.has-children ul li a:hover,
.theme-dark .footer-wrap .footer-bottom .copyright-text p a {
  color: #777AF2 !important;
}

.theme-dark .product-quantity .qtySelector span.decreaseQty,
.theme-dark .product-quantity .qtySelector span.increaseQty {
  color: #000 !important;
}

.theme-dark article,
.theme-dark #menu ul li.has-children .sub-menu li a,
.theme-dark .feature-list-item,
.theme-dark .promo-box-wrap.v1 .promo-box,
.theme-dark .pricing-box-wrap .pricing-box .price-tag,
.theme-dark .blog-item .blog-opt,
.theme-dark .service-box,
.theme-dark .subcategory li a,
.theme-dark .sidebar .sidebar-widget h4,
.theme-dark .new-product-item .new-product-img,
.theme-dark .comment-box .comment-author.reply,
.theme-dark .comment-box .comment-author,
.theme-dark .post-meta-option.bg-zircon,
.theme-dark .page-navigation .page-nav li a,
.theme-dark .page-navigation .prev-page a,
.theme-dark .page-navigation .next-page a,
.theme-dark .single-product-desc,
.theme-dark .single-product,
.theme-dark .product-thumb,
.theme-dark .table thead tr th,
.theme-dark .table tbody tr td,
.theme-dark .coupon-box-wrap .order-details-box,
.theme-dark .payment-method,
.theme-dark .order-item-details,
.theme-dark .order-subtotal,
.theme-dark .product-category-list li.has-subcat > a {
  border-color: rgba(255, 255, 255, 0.19);
}

.theme-dark #menu ul li a.active,
.theme-dark #menu ul li.has-children .sub-menu li a.active {
  border-color: #777AF2;
}

.theme-dark .tag-list ul li a:hover {
  background: #777AF2 !important;
  border-color: transparent;
  color: #fff;
}

.theme-dark .feature-box-wrap .feature-box:hover {
  background-color: #777AF2 !important;
}

.theme-dark .process-bg-1,
.theme-dark .partner-logo-area {
  background-blend-mode: difference;
}

.theme-dark .accordion-item .accordion-body {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.theme-dark .sidebar .sidebar-widget,
.theme-dark .comment-form,
.theme-dark .post-author,
.theme-dark .order-details-box {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.theme-dark .tag-list ul li a {
  color: rgba(255, 255, 255, 0.78);
  border-color: rgba(255, 255, 255, 0.2);
}

.theme-dark .tag-list ul li a:hover {
  color: #fff !important;
  border-color: transparent;
}

.theme-dark .bg-zircon.post-content,
.theme-dark .contact-info-box,
.theme-dark .coupon-wrap,
.theme-dark .coupon-box,
.theme-dark .payment-method {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.theme-dark .search-widget .form-group input,
.theme-dark .form-wrap .form-group input,
.theme-dark .comment-form .form-group input,
.theme-dark .review-form .form-group input,
.theme-dark .coupon-box .form-group input,
.theme-dark .checkout-form .form-group input,
.theme-dark .checkout-form .form-group textarea,
.theme-dark .review-form .form-group textarea,
.theme-dark .comment-form .form-group textarea,
.theme-dark .form-wrap .form-group textarea {
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.theme-dark .post-meta-option.bg-zircon,
.theme-dark .content-wrapper article {
  background-color: transparent;
}

.theme-dark .checkout-form .form-group .nice-select,
.theme-dark .filter-item-num .nice-select,
.theme-dark .filter-item-cat .nice-select {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #000;
  color: #fff;
}

.theme-dark .checkout-form .form-group .nice-select .list,
.theme-dark .filter-item-num .nice-select .list,
.theme-dark .filter-item-cat .nice-select .list {
  background-color: #000;
}

.theme-dark .nice-select .option:hover,
.theme-dark .nice-select .option.focus,
.theme-dark .nice-select .option.selected.focus {
  background-color: #0E1C1F;
}

.theme-dark .single-product-desc p {
  opacity: 1;
}

.theme-dark #menu > ul > li.has-children > a::before {
  border-color: rgba(255, 255, 255, 0.72);
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .dpt-100 {
    padding-top: 70px;
  }
  .dpb-100 {
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dpt-100 {
    padding-top: 70px;
  }
  .dpb-100 {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .theme-dark .header-wrap .header-top,
  .theme-dark .header-wrap.style3 .header-bottom {
    background-color: #000;
  }
  .theme-dark .main-menu-wrap {
    background-color: #0E1C1F;
  }
  .theme-dark .mobile-top-bar span,
  .theme-dark .header-wrap.style2 .mobile-top-bar span,
  .theme-dark .header-wrap.style3 .mobile-top-bar span {
    background-color: #fff;
  }
  .theme-dark .mobile-menu a i,
  .theme-dark .mobile-top-bar i {
    color: #fff !important;
  }
  .theme-dark .main-menu li a:hover {
    color: #777AF2;
  }
  .theme-dark .main-menu li a.active,
  .theme-dark .main-menu li a {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .theme-dark .header-wrap .select-lang .navbar-language .dropdown-toggle::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }
  .theme-dark .header-wrap .header-top .header-top-right .select-lang::after {
    border-color: rgba(255, 255, 255, 0.72);
  }
}

@media only screen and (min-width: 992px) {
  .theme-dark .main-menu-wrap #menu ul li.has-children .sub-menu {
    background-color: #0E1C1F;
  }
}
/*# sourceMappingURL=dark-theme.css.map */