/*-------------------------------
    Dark Theme  CSS
-------------------------------*/

//Color Variable
$clr_white: #fff;
$clr_offwhite: rgba(255,255,255,0.78);
$clr_black: #000;
$clr_aztech: #0E1C1F;
$clr_cod: #111;
$clr_grey: #ABA8B0;
$clr_mine_shaft: #3B3B3B;
$clr_blue: #777AF2;
.switch-theme-mode{
    position: fixed;
    top: 200px;
    right: 20px;
    z-index: 99;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
      }
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &.round {
        border-radius: 34px;
        &:before{
            border-radius: 50%;
        }
    }
    &:before {
        position: absolute;
        content: "";
        height: 40px;
        width: 40px;
        left: 0px;
        bottom: 4px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-shadow: 0 0px 15px #2020203d;
        background: white url('../img/night.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}
input:checked + .slider {
  background-color: $clr_black;
}
input:focus + .slider {
  box-shadow: 0 0 1px  $clr_black;
}
input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('../img/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}
/*---------------------------------
    Color CSS For Elements 
-----------------------------------*/
.theme-light {
    .logo{
        .logo-dark{
            display: none!important;
        }
        .logo-light{
            display: block!important;
        }
    }
}

.theme-dark {
    .dpt-100{
        padding-top: 100px;
    }
    .dpb-100{
        padding-bottom: 100px;
    }
    .logo{
        .logo-light{
            display: none!important;
        }
        .logo-dark{
            display: block!important;
        }
    }
    .td-cod,
    .bg-mirage,
    .testimonial-wrap::after,
    .cta-wrap::before,
    .feature-box-wrap.v3 .feature-box .feature-box-icon-wrap,
    .footer-wrap.v1 .footer-top{
        background-color: $clr_cod;
    }
    body,
    .td-black,
    .bg-white,
    .header-wrap .header-top,
    .pricing-wrap.v2.bg-mirage,
    #slider-range_one,
    .blog-meta ul{
        background-color: $clr_black!important;
    }
    .td-aztech,
    .bg-vista-white,
    .btn.v2,
    .header-wrap .header-bottom,
    .section-title span,
    .pricing-box-wrap .pricing-box,
    .counter-box-wrap,
    .testimonial-wrap::before,
    .blog-item,
    .post-details .blog-meta ul,
    .newsletter-wrap .newsletter-box,
    .promo-box-wrap.v2 .promo-box,
    .footer-wrap.v1 .footer-bottom,
    .promo-box-wrap.v3 .promo-box,
    .accordion-item,
    .accordion-item .accordion-header .accordion-button,
    .feature-box-wrap .feature-box{
        background-color: $clr_aztech!important;
    }
    .promo-box-wrap.v2 .promo-box:hover,
    .btn.v2:hover{
        background-color: $clr_blue!important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h3 a,
    a,
    .btn:hover,
    .accordion-item .accordion-header .accordion-button,
    .product-category-list li.has-subcat > a:hover,
    .page-navigation .page-nav li a:hover,
    .payment-method .select-checkbox div label,
    .comment-form .form-group label{
        color: $clr_white!important;
    }
    p,span,
    .checkbox label,
    .form_group label,
    .pricing-box-wrap .pricing-box .price-box-features li,
    .about-features li,
    .service-features li,
    .post-feature-list li,
    .comment-text,
    .login-form .login-body .form-group label{
        color: $clr_offwhite!important;
    }
    h3:hover a,
    a:hover,
    #menu > ul > li > a.active,
    #menu > ul > li > a:hover,
    #menu > ul > li.has-children ul li a.active,
    #menu > ul > li.has-children ul li a:hover,
    .footer-wrap .footer-bottom .copyright-text p a{
        color: $clr_blue!important;
    }
    .product-quantity .qtySelector span.decreaseQty,
    .product-quantity .qtySelector span.increaseQty{
        color: $clr_black!important;
    }
     article,
     #menu ul li.has-children .sub-menu li a,
     .feature-list-item,
     .promo-box-wrap.v1 .promo-box,
     .pricing-box-wrap .pricing-box .price-tag,
     .blog-item .blog-opt,
     .service-box,
     .subcategory li a,
     .sidebar .sidebar-widget h4,
     .new-product-item .new-product-img,
     .comment-box .comment-author.reply,
     .comment-box .comment-author,
     .post-meta-option.bg-zircon,
     .page-navigation .page-nav li a,
     .page-navigation .prev-page a,
     .page-navigation .next-page a,
     .single-product-desc,
     .single-product,
     .product-thumb,
     .table thead tr th,
     .table tbody tr td,
     .coupon-box-wrap .order-details-box,
     .payment-method,
     .order-item-details,
     .order-subtotal,
     .product-category-list li.has-subcat > a{
        border-color: rgba(255,255,255,0.19);
    }
    #menu ul li a.active,
    #menu ul li.has-children .sub-menu li a.active{
        border-color: $clr_blue;
    }
    .tag-list ul li a:hover{
        background: $clr_blue!important;
        border-color: transparent;
        color: $clr_white;
    }
    .feature-box-wrap .feature-box:hover{
        background-color: $clr_blue!important;
    }
    .process-bg-1,
    .partner-logo-area {
        background-blend-mode: difference;
    }
    .accordion-item .accordion-body{
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    .sidebar .sidebar-widget,
    .comment-form,
    .post-author,
    .order-details-box{
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .tag-list ul li a{
        color: $clr_offwhite;
        border-color: rgba(255, 255, 255, 0.2);
        &:hover{
            color: $clr_white!important;
            border-color: transparent;
        }
    }
    .bg-zircon.post-content,
    .contact-info-box,
    .coupon-wrap,
    .coupon-box,
    .payment-method{
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .search-widget .form-group input,
    .form-wrap .form-group input,
    .comment-form .form-group input,
    .review-form .form-group input,
    .coupon-box .form-group input,
    .checkout-form .form-group input,
    .checkout-form .form-group textarea,
    .review-form .form-group textarea,
    .comment-form .form-group textarea,
    .form-wrap .form-group textarea{
        background-color: transparent;
        color: $clr_white;
        border:1px solid rgba(255, 255, 255, 0.2);
    }
    .post-meta-option.bg-zircon,
    .content-wrapper article{
        background-color: transparent;
    }
    .checkout-form .form-group .nice-select,
    .filter-item-num .nice-select,
    .filter-item-cat .nice-select {
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: $clr_black;
        color: $clr_white;
        .list{
            background-color: $clr_black;
        }
    }
    .nice-select .option:hover,
    .nice-select .option.focus,
    .nice-select .option.selected.focus{
        background-color: $clr_aztech;
    }
    .single-product-desc p{
        opacity: 1;
    }
    #menu > ul > li.has-children > a::before {
        border-color: rgba(255, 255, 255, 0.72);
    }

}
@media only screen and (min-width:320px) and (max-width:767px) {
    .dpt-100{
        padding-top: 70px;
    }
    .dpb-100{
        padding-bottom: 70px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .dpt-100{
        padding-top: 70px;
    }
    .dpb-100{
        padding-bottom: 50px;
    }
}
@media only screen and (max-width:991px) {
    .theme-dark{
        .header-wrap .header-top,
        .header-wrap.style3 .header-bottom{
            background-color: $clr_black;
        }
        .main-menu-wrap{
            background-color: $clr_aztech;
        }
        .mobile-top-bar span,
        .header-wrap.style2 .mobile-top-bar span,
        .header-wrap.style3 .mobile-top-bar span{
            background-color: $clr_white;
        }
        .mobile-menu a i,
        .mobile-top-bar i{
            color: $clr_white!important;
        }
        .main-menu li a:hover{
            color: $clr_blue;
        }
        .main-menu li a.active,
        .main-menu li a{
            border-color: rgba(255, 255, 255, 0.2);
        }
        .header-wrap .select-lang .navbar-language .dropdown-toggle::before {
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #fff;
        }
        .header-wrap .header-top .header-top-right .select-lang::after {
            border-color: rgba(255, 255, 255, 0.72);
        }
    }
}
@media only screen and (min-width:992px) {
    .theme-dark{
        .main-menu-wrap #menu ul li.has-children .sub-menu{
            background-color: $clr_aztech;
        }
    }
}